/**
* css for erp
* @since 30-July-2015
*/
.monus {
	border-radius: 44px;
	-webkit-box-shadow: 10px 13px 7px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 10px 13px 7px 0px rgba(0, 0, 0, 0.05);
	box-shadow: 10px 13px 7px 0px rgba(0, 0, 0, 0.05);
	padding-top: 54px;
	padding-bottom: 54px;
	font-size: 30px;
	text-align: center;
	/* background-color: rgba(212, 181, 135, 0.3); */
	background-color: white;
}

.monus:HOVER {
	/* background-color: rgba(204, 171, 29, 0.6); */
	font-size: 40px;
	border-radius: 44px;
}

.erp_home {
	/* background: url("../../img/erp_bg.jpg") no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hrms {
	border: none;
	background-color: #0380b0;
}

.hrms:HOVER {
	-webkit-box-shadow: 4px -2px 108px 7px rgba(3, 128, 176, 1);
	-moz-box-shadow: 4px -2px 108px 7px rgba(3, 128, 176, 1);
	box-shadow: 4px -2px 108px 7px rgba(3, 128, 176, 1);
	background-color: white !important;
}

.hrms:HOVER .monus_icons {
	color: #0380b0 !important;
}

.hrms:HOVER .monus_title {
	color: #fff;
	color: #0380b0 !important;
}

.hrms:HOVER .hrms-label {
	display: block;
}

.hrms-label {
	color: #0380b0 !important;
	font-size: 15px;
	display: none;
}

.crm {
	border: none;
	background-color: rgba(204, 120, 29, 0.73);
}

.crm:HOVER {
	-webkit-box-shadow: 4px -2px 108px 7px rgba(204, 119, 29, 1);
	-moz-box-shadow: 4px -2px 108px 7px rgba(204, 119, 29, 1);
	box-shadow: 4px -2px 108px 7px rgba(204, 119, 29, 1);
	background-color: white !important;
}

.crm:HOVER .monus_icons {
	color: rgba(204, 120, 29, 0.73) !important;
}

.crm:HOVER .monus_title {
	color: #fff;
	color: rgba(204, 120, 29, 0.73) !important;
}

.crm:HOVER .crm-label {
	display: block;
}

.crm-label {
	color: rgba(204, 120, 29, 0.73) !important;
	font-size: 15px;
	display: none;
}

.purchase {
	border: none;
	background-color: rgba(125, 176, 3, 0.73);
}

.purchase:HOVER {
	-webkit-box-shadow: 4px -2px 108px 7px rgba(124, 176, 3, 1);
	-moz-box-shadow: 4px -2px 108px 7px rgba(124, 176, 3, 1);
	box-shadow: 4px -2px 108px 7px rgba(124, 176, 3, 1);
	background-color: white !important;
}

.purchase:HOVER .monus_icons {
	color: rgba(125, 176, 3, 0.73) !important;
}

.purchase:HOVER .monus_title {
	color: #fff;
	color: rgba(125, 176, 3, 0.73) !important;
}

.purchase:HOVER .pchse-label {
	display: block;
}

.pchse-label {
	color: rgba(125, 176, 3, 0.73) !important;
	font-size: 15px;
	display: none;
}

.sales {
	border: none;
	background-color: #C584AB;
}

.sales:HOVER {
	-webkit-box-shadow: 4px -2px 108px 7px rgba(197, 132, 171, 1);
	-moz-box-shadow: 4px -2px 108px 7px rgba(197, 132, 171, 1);
	box-shadow: 4px -2px 108px 7px rgba(197, 132, 171, 1);
	background-color: white !important;
}

.sales:HOVER .monus_icons {
	color: #C584AB !important;
}

.sales:HOVER .monus_title {
	color: #fff;
	color: #C584AB !important;
}

.sales:HOVER .sls-label {
	display: block;
}

.sls-label {
	color: #C584AB !important;
	font-size: 15px;
	display: none;
}

.inventory {
	border: none;
	background-color: rgba(94, 168, 171, 0.7);
}

.inventory:HOVER {
	-webkit-box-shadow: 4px -2px 108px 7px rgba(94, 168, 171, 1);
	-moz-box-shadow: 4px -2px 108px 7px rgba(94, 168, 171, 1);
	box-shadow: 4px -2px 108px 7px rgba(94, 168, 171, 1);
	background-color: white !important;
}

.inventory:HOVER .monus_icons {
	color: rgba(94, 168, 171, 0.7) !important;
}

.inventory:HOVER .monus_title {
	color: #fff;
	color: rgba(94, 168, 171, 0.7) !important;
}

.inventory:HOVER .inv-label {
	display: block;
}

.inv-label {
	color: rgba(94, 168, 171, 0.7) !important;
	font-size: 15px;
	display: none;
}

.accounts {
	border: none;
	background-color: #C74F4F;
}

.accounts:HOVER {
	-webkit-box-shadow: 4px -2px 108px 7px rgba(199, 79, 79, 1);
	-moz-box-shadow: 4px -2px 108px 7px rgba(199, 79, 79, 1);
	box-shadow: 4px -2px 108px 7px rgba(199, 79, 79, 1);
	background-color: white !important;
}

.accounts:HOVER .monus_icons {
	color: #C74F4F !important;
}

.accounts:HOVER .monus_title {
	color: #C74F4F !important;
}

.accounts:HOVER .acc-label {
	display: block;
}

.acc-label {
	color: #C74F4F !important;
	font-size: 15px;
	display: none;
}

.monus_icons {
	font-size: 50px;
	float: right;
	/* color: rgb(224, 204, 119); */
	color: white;
}

.monus:HOVER  .monus_icons {
	/* color: #F2E9DB; */
	float: left;
	font-size: 70px;
}

.monus:HOVER  .monus_title {
	/* color: #B59F42; */
	font-weight: 700;
}

.monus_content {
	/* background-color: rgba(82, 206, 66, 0.51); */
	background-color: #fff;
	border-radius: 46px;
}

.monus_title {
	font-weight: 500;
	/* background-color: rgb(224, 204, 119); */
	border-radius: 46px;
	padding-left: 7px;
	padding-right: 7px;
	/* color: #F2E9DB; */
	color: white;
}

.monus_home {
	/* background: url("../../img/erp_bg.jpg") no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.settings {
	color: black !important;
	float: right;
	font-size: 49px;
	padding-bottom: 5%;
	padding-right: 7%;
}

.settings:HOVER {
	font-size: 60px;
}

.settings-ico {
	color: black;
}

.hdr {
	font-size: 39px;
	font-weight: 500;
	padding-top: 7px;
	background-color: rgba(134, 126, 126, 0.94);
	padding-bottom: 2px;
	padding-left: 10px;
	border-radius: 12px;
	color: #FFF;
}

.hdr-ico {
	padding-right: 5px;
	color: #FFFFFF;
	font-size: 30px;
}

.home {
	display: inline-block;
	color: #212E31;
	background-color: #fff;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.home:HOVER {
	color: #fff;
	background-color: #212E31;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.hdr-div {
	display: table-cell;
	padding: 8px 20px;
}

.home-div {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	display: table-cell;
	padding: 8px 20px;
}

.panel-inf {
	background-color: rgba(138, 130, 131, 0.44) !important;
	border-color: rgba(138, 130, 131, 0.44) !important;
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
	-moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
	box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
}

.erp-panle {
	background-color: #e8e8eb !important;
}

.erp-btn {
	background-color: rgba(138, 130, 131, 1.0) !important;
	border-color: rgba(138, 130, 131, 1.0) !important;
}

.erp-info {
	/* background-color: rgba(173, 167, 166, 0.19); */
	background-color: white;
}

.back-btn {
	font-size: 20px;
	float: right;
}

.back-to-top {
	z-index: 5;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 20px 20px 20px 20px;
	position: fixed;
	bottom: 1em;
	right: 1em;
	text-decoration: none;
	color: white;
	background-color: rgba(19, 16, 16, 0.75);
	font-size: 25px;
	padding: 7px 10px;
	display: none;
	cursor: pointer;
}

a:hover, a:focus {
	color: #FFFFFF !important;
}

.erp-tbl th {
	background-color: rgba(138, 130, 131, 0.44);
	border: 1px solid rgb(255, 255, 255) !important;
	font-weight: 900 !important;
}

.erp-tbl {
	border: 1px solid rgb(255, 255, 255) !important;
}

.erp-tbl tr {
	border: 1px solid rgb(255, 255, 255) !important;
}

.erp-tbl td {
	border: 1px solid rgb(255, 255, 255) !important;
}

.trash:HOVER {
	font-size: 37px;
}

.trash-div {
	float: right;
	display: table-cell;
	font-size: 35px;
}

.wid-80 {
	width: 80%;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #A49EA0;
	border-color: #A49FA1;
}

.radios {
	height: 17px;
}

.pop {
	z-index: 100000000;
	position: fixed;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	bottom: 0%;
	opacity: 1;
	box-shadow: 0 2px 5px 0 rgba(251, 249, 249, 0);
	transform: translate3d(0, 0, 0);
	transition-property: transform, opacity;
	transition: ease-in-out .3s;
	height: 100%;
	width: 100%;
	background-color: rgba(29, 26, 26, 0.75);
}

.pop_content {
	background-color: rgba(66, 66, 70, 0.22);
	margin: 10% 10% 10% 10%;
	border-radius: 20px;
	min-width: 80%;
	min-height: 80%;
	-webkit-box-shadow: 2px 1px 71px 19px rgba(237, 245, 245, 1);
	-moz-box-shadow: 2px 1px 71px 19px rgba(237, 245, 245, 1);
	box-shadow: 2px 1px 71px 19px rgba(237, 245, 245, 1);
	padding-left: 6%;
	padding-bottom: 10%;
	padding-top: 6%;
}

.pop-ico {
	color: #E0D9D9;
	font-size: 500%;
}

.pop-text {
	margin-left: 2%;
	font-size: 214%;
	font-weight: 700;
	color: #F1EAEA;
}

.pop-close {
	color: #fff;
	position: absolute;
	right: 8.5%;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font-size: 30px;
	top: 7%;
	background-color: rgba(69, 69, 70, 0.98);
	padding-left: 1%;
	border-radius: 100%;
	padding-right: 1%;
}

.pop-close:HOVER {
	color: rgba(204, 120, 29, 0.73);
}

.my-select {
	
}

.successMsg {
	background-color: black;
}

.notification-panl {
	z-index: 100000000;
	position: fixed;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	bottom: 24px;
	left: 24px;
	border-radius: 15px;
	min-width: 288px;
	max-width: 700px;
	min-height: 48px;
	padding: 14px 24px;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	opacity: 1;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
	transform: translate3d(0, 0, 0);
	transition-property: transform, opacity;
	transition: ease-in-out .3s;
}

.notfctn-cntnnt {
	font-weight: 600;
	margin-left: 4%;
	color: #BED2E0;
	font-size: 16px;
	display: table-cell;
	padding: 8px 20px;
}

#close-msg {
	margin-left: auto;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 20px;
	display: table-cell;
	padding: 4% 5%;
}

.deleteRow {
	font-size: 180%;
	text-align: center;
	padding-left: 38%;
}

.align-right {
	text-align: right;
}

.bg-danger {
	background-color: #85868d !important;
}

.fa:HOVER {
	cursor: pointer !important;
}

.badge {
	margin-left: 2%;
}

.badge:HOVER {
	cursor: pointer !important;
}

.companyName {
	font-size: 19px;
	color: #1D1C1C;
}

.companyName-div {
	display: table-cell;
	padding: 8px 20px;
}