/**
* css for inventory
* @since 30-July-2015
*/
.navigation>ul>li:hover>a, .navigation>ul>li.active:hover>a, .navigation>ul>li.active>a
	{
	color: #fff !important;
	background-color: #C74F4F !important;
}

.navigation>ul>li>a {
	color: #C74F4F !important;
}

.prodModal-dialogue {
	width: 35% !important;
	margin-left: 15% !important;
	margin-top: 5% !important;
}

.prodModal {
	width: 100%;
	z-index: 999999999999999999999999;
	height: 100%;
	overflow: scroll;
}

.tbl_scrl_bdy {
	overflow-x: scroll !important;
}

.accounts_home {
	min-height: 500px;
	/* background: url("../../img/erp_bg.jpg") no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hdr {
	font-size: 39px;
	font-weight: 500;
	padding-top: 7px;
	background-color: #C74F4F;
	padding-bottom: 2px;
	padding-left: 10px;
	border-radius: 12px;
	color: #FFF;
}

.hdr-ico {
	padding-right: 5px;
	color: #FFFFFF;
	font-size: 30px;
}

.home {
	display: inline-block;
	color: #212E31;
	background-color: #fff;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.home:HOVER {
	color: #fff;
	background-color: #212E31;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.hdr-div {
	display: table-cell;
	padding: 8px 20px;
}

.home-div {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	display: table-cell;
	padding: 8px 20px;
}

.dashboard-itmes {
	background-color: rgba(162, 61, 61, 0.3);
	border-color: rgba(162, 61, 61, 0) !important;
}
/* .panel-body{
	background-color: white;
} */
.dashboard-title {
	color: #fff;
	font-size: 30px;
	padding-left: 5px;
	font-weight: lighter;
}

.dashboard-icons {
	float: right;
	font-size: 30px;
	color: rgba(123, 36, 36, 0.96);
}

.dashboard-label {
	text-align: center;
	color: #7F2C2D;
	font-size: 13px;
}

.back-btn {
	font-size: 20px;
	float: right;
}

.erp-panle {
	background-color: rgba(255, 255, 255, 0.21) !important;
}

.panel-inf {
	background-color: rgba(199, 79, 79, 0.55) !important;
	border-color: rgb(206, 142, 146) !important;
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
	-moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
	box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
}

.erp-tbl th {
	background-color: rgb(207, 142, 145);
	border: 1px solid #D84E55 !important;
}

.erp-tbl {
	border: 1px solid #CF8E91 !important;
}

.erp-tbl tr {
	border: 1px solid #CF8E91 !important;
}

.erp-tbl td {
	background-color: rgba(255, 255, 255, 0.07) !important;
	border: 1px solid #CF8E91 !important;
}

.erp-btn {
	background-color: #CF8E91 !important;
	border-color: #CF8E91 !important;
}

.erp-btn :HOVER {
	background-color: #fff !important;
}

.erp-info {
	background-color: rgba(217, 177, 177, 0.36);
}

.back-btn {
	font-size: 20px;
	float: right;
}
/**
* notification
*/
#notify-all {
	display: none;
}

.notification-panl {
	z-index: 100000000;
	position: fixed;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	bottom: 24px;
	left: 24px;
	border-radius: 15px;
	min-width: 288px;
	max-width: 700px;
	min-height: 48px;
	padding: 14px 24px;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	opacity: 1;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
	transform: translate3d(0, 0, 0);
	transition-property: transform, opacity;
	transition: ease-in-out .3s;
}

.notfctn-cntnnt {
	font-weight: 600;
	margin-left: 4%;
	color: #BED2E0;
	font-size: 16px;
	display: table-cell;
	padding: 8px 20px;
}

#close-msg {
	margin-left: auto;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 20px;
	display: table-cell;
	padding: 4% 5%;
}

.successMsg {
	background-color: rgba(76, 95, 56, 0.71);
}

.er-msg {
	background-color: rgba(150, 48, 48, 0.89) !important;
}

#confirm-delete {
	display: none;
}

#load-erp {
	bottom: 0;
	background-color: rgba(66, 63, 63, 0.3);
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	display: none;
}

#load_spiner-erp {
	
}

#spinneeer-erp {
	height: 100%;
	width: 100%;
	background: url("../../img/ajax-loader.gif") no-repeat center center
		fixed;
	bottom: 46%;
	z-index: 1017;
	position: fixed;
	top: 41%;
	padding-bottom: 21%;
}

.loading-text-erp {
	font-size: 148%;
	float: left;
	color: #fff;
	padding-top: 11%;
	padding-left: 14%;
}

.spinr-erp {
	font-size: 450% !important;
	color: #FFF;
	padding-left: 21%;
}

#vndr_cntct_tbl {
	padding: 1% 1% 1% 1%;
	background-color: rgba(220, 175, 144, 0.56);
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: rgb(207, 142, 145);
	border-color: rgb(255, 255, 255);
}

.pop-content {
	margin: 10% 10% 10% 10%;
	margin-left: 15%;
	margin-top: 10%;
	background-color: #fff;
}

#ledgerGroupPop {
	background-color: rgba(16, 16, 16, 0.35);
}

.closebtn {
	position: absolute;
	cursor: pointer;
	background: url(https://shop.paytm.com/images/base.png) -274px 0
		no-repeat;
	width: 41px;
	height: 41px;
	z-index: 1;
	margin-left: 73.5%;
	margin-top: -1%;
}

.deleteRow {
	font-size: 180%;
	text-align: center;
	padding-left: 38%;
	cursor: pointer;
}

.align-right {
	text-align: right;
	float: right;
}

.erpMessage {
	top: 0%;
	height: 100%;
	width: 100%;
	bottom: -1%;
	background-color: rgba(228, 36, 36, 0.43);
	z-index: 100000000;
	position: fixed;
	display: -ms-flex;
	align-items: center;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition-property: transform, opacity;
	transition: ease-in-out .3s;
	left: 0%;
}

.erpMessage-cntnt {
	background-color: #fff;
	height: 10%;
	width: 20%;
	margin-left: 37%;
	margin-top: 20%;
	border-radius: 7px;
}

.erpmsg {
	display: table-cell;
	padding: 8px 20px;
}

.erpclose {
	display: table-cell;
	padding: 8px 20px;
}

.pla-table {
	width: 100%;
}

.pla-table tr {
	border: none !important;
}

.pla-table td {
	border: none !important;
	padding: 1%;
}

.amount {
	text-align: right;
}

.pla-table tr:nth-child(even) {
	background-color: rgba(242, 242, 244, 0.28);
}

.pla-table tr:nth-child(odd) {
	background-color: rgba(177, 184, 202, 0.49);
}

.right {
	float: right;
}

.bg-danger {
	background-color: #C74F4F !important;
}

.currency {
	float: right;
}

#poCntnt {
	background-color: #fff;
	width: 50%;
	margin-left: 26%;
	border: none;
	margin-top: 12%;
}