
.site-logo {
	width: 365px;
	/* height: 200px; */
	text-align: center;
}

.showMenu {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
	position: fixed;
	top: 2%;
	z-index: 99;
	right: 5%;
}
.showMenu:focus {
	outline: 0;
}

/* Overlay style */
.overlay {
	position: fixed;
	z-index: 3000;
	width: 100%;
	height: 61px;
	top: 0;
	left: 0;
	background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close{
	width: 22px;
	height: 22px;
	position: absolute;
	right: 73px;
	top: 69px;
	overflow: hidden;
	border: none;
	background: url(../images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 48%;
	height: 61px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
	width: 73%;
	min-width: 703px;
}

.overlay ul li {
	display: block;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	float: left;
	margin: 1%;
	width: 10%;
	font-size: 14px;
	min-width: 72px;
}

.overlay ul li a {
	font-size: 14px;
	line-height: 45px;
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	border-bottom: #000 solid 1px;
	/* font-family: 'Open Sans'; */
	color: #00070F;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	letter-spacing: 2px;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #3C94B6;
font-weight: bold;
	border-bottom: #3C94B6 solid 1px;
}

a#careerlink {}

/* Effects */
.overlay-genie {
	background: transparent;
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.2s, visibility 0s 0.6s;
	transition: opacity 0.3s 0.2s, visibility 0s 0.6s;
}

.overlay-genie.open {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.overlay-genie svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 61px;
}

.overlay-genie .overlay-path {
	fill: rgba(25, 63, 121, 1);
}

/*.overlay-genie nav {
	opacity: 0;
	-webkit-transform: scale(0.8) translateY(-48%);
	transform: scale(0.8) translateY(-48%);
	-webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
	transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}*/

.overlay-genie .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.overlay-genie.open nav {
	opacity: 1;
}
.overlay-genie.open .overlay-close{
	opacity: 1;
	padding-top: 0%;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;	
}

.overlay-genie.open nav {
	-webkit-transform: scale(1) translateY(-50%);
	transform: scale(1) translateY(-50%);
}

.overlay-genie.close nav,
.overlay-genie.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}


@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

@media only screen and (min-width:1035px) and (max-width:1257px) {
	.overlay ul{width:90%;}
	}
@media only screen and (min-width:860px) and (max-width:1035px) {
	.overlay ul{width:88%;}
	.overlay ul li a{letter-spacing:0px;}
	}
	
	@media only screen and (min-width:670px) and (max-width:860px) {
.cd-section h1{font-size: 1.6rem !important;}
	}
	
	@media only screen and (min-width:300px) and (max-width:860px) {
.showMenu {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
	position: fixed;
	top: 10%;
	z-index: 99;
	right: 5%;
}
.showMenu:focus {
	outline: 0;
}

/* Overlay style */
.overlay {
	position: fixed;
	z-index: 3000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close{
	width: 22px;
	height: 22px;
	position: absolute;
	right: 73px;
	top: 69px;
	overflow: hidden;
	border: none;
	background: url(../images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 42%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
	min-width: 100%;
}

.overlay ul li {
	display: block;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	float:none;
	width: 100%;
}

.overlay ul li a {
	font-size: 15px !important;
	line-height: 45px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	border: none;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #FFFFFF;
font-weight: bold;
}

/* Effects */
.overlay-genie {
	background: transparent;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.2s, visibility 0s 0.6s;
	transition: opacity 0.3s 0.2s, visibility 0s 0.6s;
}

.overlay-genie.open {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.overlay-genie svg {
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
}

.overlay-genie .overlay-path {
	fill: rgba(25, 63, 121, 0.95);
}

/*.overlay-genie nav {
	opacity: 0;
	-webkit-transform: scale(0.8) translateY(-48%);
	transform: scale(0.8) translateY(-48%);
	-webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
	transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}*/

.overlay-genie .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.overlay-genie.open nav {
	opacity: 1;
}
.overlay-genie.open .overlay-close{
	opacity: 1;
	padding-top: 0%;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;	
}

.overlay-genie.open nav {
	-webkit-transform: scale(1) translateY(-50%);
	transform: scale(1) translateY(-50%);
}

.overlay-genie.close nav,
.overlay-genie.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.overlay ul li a {
	line-height: 30px;}

	}