@media only screen and (min-width:768px) {
body::before {
	content: 'desktop'
}
.cd-section {
	height: 100vh
}
.cd-half-block {
	height: 100vh!important;
	width: 50%;
	position: absolute;
	top: 0
}
.cd-block {
	position: fixed;
	width: 100%;
	min-height: 100vh;
	top: 0;
	left: 0;
	height: 100vh;
	box-shadow: 0 0 40px rgba(0,0,0,.7);
	visibility: hidden
}
.cd-block>*, .cd-section:first-of-type .cd-block {
	visibility: visible
}
.cd-vertical-nav {
	display: block
}
.cd-half-block:nth-of-type(2) {
	padding: 7%
}
.cd-section:nth-of-type(even) .cd-half-block:first-of-type, .cd-section:nth-of-type(odd) .cd-half-block:nth-of-type(2) {
	left: 0;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%)
}
.cd-section:nth-of-type(even) .cd-half-block:nth-of-type(2), .cd-section:nth-of-type(odd) .cd-half-block:first-of-type {
	right: 0;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%)
}
}
@media only screen and (min-width:2249px) and (max-width:2560px) {
body {
	margin: 0
}
.overlay .overlay-close {
	width: 20px!important;
	height: 52px!important;
	right: 5.6%!important;
	top: 10%!important
}
.overlay-genie.open nav {
	left: 0
}
.menu-logo {
	margin-top: 15%;
	left: 48.6%
}
.overlay ul li a {
	font-size: 24px
}
.member {
	display: inline-block;
	padding-right: 25px;
	max-width: 63%;
	width: 46%
}
#portfolio .btn, .member-name {
	display: block
}
.contactform input {
	width: 47%
}
.contactform button {
	margin: 60px 10px 0 0
}
}
@media only screen and (min-width:1788px) and (max-width:2248px) {
body {
	margin: 0
}
.overlay .overlay-close {
	width: 20px!important;
	height: 52px!important;
	right: 5.6%!important;
	top: 10%!important
}
.overlay-genie.open nav {
	left: 0
}
.menu-logo {
	left: 47.6%
}
.overlay ul li a {
	font-size: 24px
}
.contactform input {
	width: 48%
}
.contactform button {
	margin: 60px 10px 0 0
}
}
@media only screen and (min-width:1369px) and (max-width:1787px) {
body {
	margin: 0
}
.overlay .overlay-close {
	width: 20px!important;
	height:52px!important;
	right: 5.6%!important;
	top: 2%!important
}
.overlay-genie.open nav {
	left: 0
}
.cd-section h1 {
	font-size: 2rem;}
.cd-half-block:nth-of-type(1) {
	height: 30vh
}
.next-section {
	padding-top: 10%;}
.contactform input {
	width: 47%
}
.blog-single .commentform input {
	width: 48.25%
}
.contactform button {
	margin: 39px 20px 0 0
}
.section-title {
	padding-bottom: 10px;
	font-size: 3.06rem
}
.section-description {
	font-size: 1.2rem;
	line-height: 25px;
	padding-bottom: 55px
}
.item-details {
	font-size: 1em;
	padding-top: 10px;
	line-height: 25px
}
.item-title {
	font-size: 1rem
}
.portfolio-details figure {
	max-width: 43%;
	height: 140px
}
.entry-title {
font-size:.95rem
}
.comment-content p, .entry-text {
	font-size: 1rem;
	line-height: 22px
}
.blog-details {
	padding-right: 15px
}
.member-name {
	font-size: 1rem
}
.contact-icon {
	font-size: 2.18rem
}
.address-details {
	padding-top: 50px;
	padding-bottom: 60px
}
.address-details a, address p, span.mobile-no {
font-size:.9rem;
	line-height: 20px
}
.contactform input, .contactform textarea {
font-size:.7rem;
	margin-bottom: 25px
}
.service-page .section-description {
	padding-bottom: 30px;
	font-size: 1.1rem;
	line-height: 25px
}
.service-page .our-success p, .service-page .service-details p {
	font-size: 1rem
}
.service-page .service-details .item {
	padding-bottom: 25px
}
.service-page .service-details .item p {
font-size:.9rem;
	line-height: 22px
}
.service-page .our-success {
	padding-top: 35px
}
.success-counter .item-icon {
	font-size: 2.5em;
	padding-bottom: 15px
}
.other-services {
	padding-top: 10px
}
.list-items {
	padding-top: 20px
}
.list-items p {
font-size:.9rem
}
.about-page .our-team {
	padding-top: 40px
}
.about-page .section-title {
	font-size: 2.6rem
}
.about-page .section-description {
	font-size: 1rem;
	padding-bottom: 35px
}
.our-story p {
	font-size: 1rem
}
.about-page .about-details {
	padding-top: 30px
}
.about-page .item-details {
	font-size: .9em;
	padding-top: 8px;
	line-height: 20px
}
.about-page .member {
	max-width: 45%;
	height: 265px
}
.about-details .item {
	padding-bottom: 15px
}
.about-page blockquote {
	font-size: 1.2rem
}
.skills-details canvas {
	height: 130px;
	width: 130px
}
}
@media only screen and (min-width:1281px) and (max-width:1368px) {
body {
	margin: 0
}
.overlay .overlay-close {
	width: 20px!important;
	height: 52px!important;
	right: 5.6%!important;
	top: 2%!important
}
.overlay-genie.open nav {
	left: 0
}
.cd-section h1 {
	font-size: 2.5rem
}
.cd-half-block:nth-of-type(1) {
	height: 30vh
}
.next-section {
	padding-top: 30px
}
.section-title {
	padding-bottom: 10px;
	font-size: 3.06rem
}
.section-description {
	font-size: 1.2rem;
	line-height: 25px;
	padding-bottom: 55px
}
.item-details {
	font-size: 14px;
	padding-top: 10px;
	line-height: 25px
}
.item-title {
	font-size: 1rem
}
.portfolio-details figure {
	max-width: 45%;
	height: 140px
}
.entry-title {
font-size:.95rem
}
.comment-content p, .entry-text {
	font-size: 1rem;
	line-height: 22px
}
.blog-details {
	padding-right: 15px
}
.member-name {
	font-size: 1rem
}
.contact-icon {
	font-size: 2.18rem
}
.address-details {
	padding-top: 50px;
	padding-bottom: 60px
}
.address-details a, address p, span.mobile-no {
font-size:.9rem;
	line-height: 20px
}
.contactform input, .contactform textarea {
font-size:.7rem;
	margin-bottom: 25px
}
.service-page .section-description {
	padding-bottom: 30px;
	font-size: 1.1rem;
	line-height: 25px
}
.service-page .our-success p, .service-page .service-details p {
	font-size: 1rem
}
.service-page .service-details .item {
	padding-bottom: 25px
}
.service-page .service-details .item p {
font-size:.9rem;
	line-height: 22px
}
.service-page .our-success {
	padding-top: 35px
}
.success-counter .item-icon {
	font-size: 2.5em;
	padding-bottom: 15px
}
.other-services {
	padding-top: 10px
}
.list-items {
	padding-top: 20px
}
.list-items p {
font-size:.9rem
}
.about-page .our-team {
	padding-top: 30px
}
.about-page .section-title {
	font-size: 2.6rem
}
.about-page .section-description {
	font-size: 1rem;
	padding-bottom: 35px
}
.our-story p {
	font-size: 1rem
}
.about-page .about-details {
	padding-top: 30px
}
.about-page .item-details {
	font-size: .9em;
	padding-top: 8px;
	line-height: 20px
}
.about-page .member {
	max-width: 44%!important
}
.about-details .item {
	padding-bottom: 30px
}
.about-page .member {
	height: 165px;
	height: 165px
}
.about-page blockquote {
	font-size: 1.2rem
}
.skills-details canvas {
	height: 130px;
	width: 130px
}
}
@media only screen and (min-width:1201px) and (max-width:1280px) {
body {
	margin: 0
}
.overlay .overlay-close {
	width: 20px!important;
	height: 52px!important;
	right: 5.6%!important;
	top: 2%!important
}
.overlay-genie.open nav {
	left: 0
}
.cd-section h1 {
	font-size: 2.5rem
}
.cd-half-block:nth-of-type(1) {
	height: 30vh
}
.next-section {
	padding-top: 30px
}
.section-title {
	padding-bottom: 10px;
	font-size: 3.06rem
}
.section-description {
	font-size: 1.2rem;
	line-height: 25px;
	padding-bottom: 55px
}
.item-details {
	font-size: 1em;
	padding-top: 10px;
	line-height: 25px
}
.item-title {
	font-size: 1rem
}
.portfolio-details figure {
	max-width: 45%;
	height: 140px
}
.entry-title {
font-size:.95rem
}
.comment-content p, .entry-text {
	font-size: 1rem;
	line-height: 22px
}
.blog-details {
	padding-right: 15px
}
.member-name {
	font-size: 1rem
}
.contact-icon {
	font-size: 1.18rem
}
.address-details {
	padding-top: 40px;
	padding-bottom: 60px
}
.address-details a, address p, span.mobile-no {
font-size:.7rem;
	line-height: 15px
}
.contactform input, .contactform textarea {
font-size:.7rem;
	margin-bottom: 25px
}
.service-page .section-description {
	padding-bottom: 30px;
	font-size: 1.1rem;
	line-height: 25px
}
.service-page .our-success p, .service-page .service-details p {
	font-size: 1rem
}
.service-page .service-details .item {
	padding-bottom: 25px
}
.service-page .service-details .item p {
	font-size: 1rem;
	line-height: 22px
}
.service-page .our-success {
	padding-top: 35px
}
.success-counter .item-icon {
	font-size: 2.5em;
	padding-bottom: 15px
}
.other-services {
	padding-top: 10px
}
.list-items {
	padding-top: 20px
}
.list-items p {
	font-size: 1rem
}
.about-page .member {
	max-width: 43%!important
}
.about-page .our-team {
	padding-top: 40px
}
.about-page .section-title {
	font-size: 2.6rem
}
.about-page .section-description {
	font-size: 1rem;
	padding-bottom: 35px
}
.our-story p {
	font-size: 1rem
}
.about-page .about-details {
	padding-top: 30px
}
.about-page .item-details {
	font-size: .9em;
	padding-top: 8px;
	line-height: 20px
}
.about-page .member {
	height: 165px;
	height: 165px
}
.about-details .item {
	padding-bottom: 15px
}
.about-page blockquote {
	font-size: 1.2rem
}
.skills-details canvas {
	height: 130px;
	width: 130px
}
}
@media only screen and (min-width:1181px) and (max-width:1200px) {
body {
	margin: 0
}
.overlay .overlay-close {
	width: 20px!important;
	height: 52px!important;
	right: 5.6%!important;
	top: 2%!important
}
.overlay-genie.open nav {
	left: 0
}
.cd-section {
	height: 100vh
}
.cd-section h1 {
	font-size: 4.06rem
}
.cd-half-block {
	height: 100vh!important;
	width: 50%;
	position: absolute;
	top: 0
}
.cd-block {
	position: fixed;
	width: 100%;
	min-height: 100vh;
	top: 0;
	left: 0;
	height: 100vh;
	box-shadow: 0 0 40px rgba(0,0,0,.7);
	visibility: hidden
}
.cd-block>*, .cd-section:first-of-type .cd-block {
	visibility: visible
}
.item-title {
	font-size: 1.1em
}
.item-details {
	font-size: 1em
}
.about-details .item, .service-details .item {
	padding-bottom: 25px
}
.section-description {
	font-size: 1.1em;
	line-height: 27px;
	padding-bottom: 35px
}
.portfolio-details figure {
	max-width: 43%;
	height: 140px
}
.contactform input {
	width: 45%
}
.contactform textarea {
	width: 61%
}
.contactform button {
	margin: 60px 10px 0 0
}
.contact-icon {
	font-size: 1.18rem
}
.cd-vertical-nav {
	display: block
}
.cd-half-block:nth-of-type(2) {
	padding: 7%
}
.address-details {
	padding-top: 15px
}
span.mobile-no {
	font-size: .8em
}
address p {
font-size:.8rem
}
.cd-section:nth-of-type(even) .cd-half-block:first-of-type, .cd-section:nth-of-type(odd) .cd-half-block:nth-of-type(2) {
	left: 0;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%)
}
.cd-section:nth-of-type(even) .cd-half-block:nth-of-type(2), .cd-section:nth-of-type(odd) .cd-half-block:first-of-type {
	right: 0;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%)
}
.section-title {
	padding-bottom: 10px
}
.service-page .section-description {
	padding-bottom: 30px;
	font-size: 1.1rem;
	line-height: 25px
}
.service-page .our-success p, .service-page .service-details p {
	font-size: 1rem
}
.service-page .service-details .item {
	padding-bottom: 25px;
	font-size: .9em;
	max-width: 49%
}
.service-page .service-details .item p {
	font-size: .94em;
	line-height: 18px
}
.service-page .our-success {
	padding-top: 35px
}
.success-counter .item-icon {
	font-size: 2.5em;
	padding-bottom: 7px
}
.success-counter .count {
	font-size: 3em
}
.other-services {
	padding-top: 10px
}
.list-items {
	padding-top: 20px
}
.list-items p {
	font-size: .94em;
	line-height: 18px
}
.about-page .our-team {
	padding-top: 40px
}
.about-page .section-title {
	font-size: 2.6rem
}
.about-page .section-description {
	font-size: 1rem;
	padding-bottom: 35px
}
.chart-content {
	margin-left: 0;
	font-size: 2em
}
.our-story p {
	font-size: 1rem
}
.about-page .about-details {
	padding-top: 30px
}
.about-page .item-details {
	font-size: .9em;
	padding-top: 8px;
	line-height: 20px
}
.about-page .member {
	max-width: 44%!important;
	height: 165px;
	height: 165px
}
.about-details .item {
	padding-bottom: 15px
}
.about-page blockquote {
	font-size: 1.2rem
}
.skills-details canvas {
	height: 130px;
	width: 130px
}
}
@media only screen and (min-width:1025px) and (max-width:1180px) {
body {
	margin: 0
}
.overlay .overlay-close {
	width: 20px!important;
	height: 52px!important;
	right: 5.6%!important;
	top: 2%!important
}
.overlay-genie.open nav {
	left: 0
}
.section-description {
	font-size: 1em;
	padding-bottom: 35px;
	line-height: 27px
}
.item-details {
	font-size: .8em
}
.cd-half-block:nth-of-type(2) {
	padding: 7% 8%
}
.service-details .item {
	padding-right: 7px
}
.portfolio-details figure {
	max-width: 43%;
	height: 150px
}
.entry-title {
	padding-bottom: 10px
}
.entry-title a {
	font-size: .9em
}
.post-content {
	padding-left: 70px;
	text-align: justify
}
.contactform input {
	width: 45%
}
.contactform textarea {
	width: 61%
}
.contactform button {
	margin: 60px 10px 0 0
}
.address-details {
	padding-top: 75px
}
.contact-icon {
	font-size: 1.2rem;
	padding-bottom: 6px
}
.section-title {
	padding-bottom: 0
}
span.mobile-no {
	font-size: .8em
}
address p {
font-size:.8rem
}
.service-page .section-description {
	padding-bottom: 30px;
	font-size: 1.1rem;
	line-height: 25px
}
.service-page .our-success p, .service-page .service-details p {
	font-size: 1rem
}
.service-page .service-details .item {
	padding-bottom: 25px;
	font-size: .9em;
	max-width: 49%
}
.service-page .service-details .item p {
	font-size: .94em;
	line-height: 18px
}
.service-page .our-success {
	padding-top: 35px
}
.success-counter .item-icon {
	font-size: 2em;
	padding-bottom: 7px
}
.success-counter .item-name {
	font-size: 1.4em
}
.success-counter .count {
	font-size: 3em
}
.other-services {
	padding-top: 10px
}
.list-items {
	padding-top: 20px
}
.list-items p {
	font-size: .85em;
	line-height: 18px
}
.about-page .our-team {
	padding-top: 40px
}
.about-page .section-title {
	font-size: 2.6rem
}
.about-page .section-description {
	font-size: 1rem;
	padding-bottom: 35px
}
.chart-content {
	margin-left: 0;
	font-size: 2em
}
.our-story p {
	font-size: 1rem
}
.about-page .about-details {
	padding-top: 30px
}
.about-page .item-details {
	font-size: .9em;
	padding-top: 8px;
	line-height: 20px
}
.about-page .member {
	max-width: 43%!important;
	height: 165px;
	height: 165px
}
.about-details .item {
	padding-bottom: 15px
}
.about-page blockquote {
	font-size: 1.2rem
}
.skills-details canvas {
	height: 130px;
	width: 130px
}
.about-details .item {
	padding-right: 5px
}
.about-page .member-social li a {
	margin: 0
}
}
@media only screen and (min-width:980px) and (max-width:1024px) {
.section-title {
	padding-bottom: 20px;
	font-size: 3.06rem
}
.section-description {
	font-size: 1rem;
	line-height: 27px;
	padding-bottom: 35px
}
.entry-title a {
	font-size: .9em
}
.post-content {
	padding-left: 70px
}
.type-post {
	padding-bottom: 30px
}
.item-details {
	font-size: .8em
}
.item-title {
font-size:.85rem
}
.portfolio-details figure {
	max-width: 43%;
	height: 130px
}
.contactform button {
	margin: 60px 10px 0 0
}
.entry-title {
	font-size: 1rem
}
.comment-content p, .entry-text {
font-size:.8rem
}
.contactform input {
	width: 45%
}
.contactform textarea {
	width: 61%
}
.address-details {
	padding-top: 25px
}
.service-page .section-description {
	padding-bottom: 30px;
	font-size: 1rem;
	line-height: 25px
}
.service-page .our-success p, .service-page .service-details p {
	font-size: 1rem
}
.service-page .service-details .item {
	padding-bottom: 25px;
	font-size: .9em;
	max-width: 49%
}
.service-page .service-details .item p {
	font-size: .94em;
	line-height: 18px
}
.service-page .our-success {
	padding-top: 35px
}
.success-counter .item-icon {
	font-size: 2em;
	padding-bottom: 7px
}
.success-counter .item-name {
	font-size: 1.4em
}
.success-counter .count {
	font-size: 3em
}
.other-services {
	padding-top: 10px
}
.list-items {
	padding-top: 20px
}
.list-items p {
	font-size: .8em;
	line-height: 22px
}
.about-page p {
	font-size: .9em
}
.about-page .our-team {
	padding-top: 30px
}
.about-page .section-title {
	font-size: 2.6rem
}
.about-page .section-description {
font-size:.9rem;
	padding-bottom: 35px
}
.chart-content {
	margin-left: 0;
	font-size: 2em;
	left: 39%
}
.our-story p, .our-team p {
font-size:.9rem
}
.about-page .about-details {
	padding-top: 30px
}
.about-page .item-details {
	font-size: .8em;
	padding-top: 8px;
	line-height: 20px
}
.about-page .member {
	max-width: 43%!important;
	height: 165px
}
.about-details .item {
	padding-bottom: 15px
}
.about-page blockquote {
	font-size: 1.2rem
}
.skills-details canvas {
	height: 130px;
	width: 130px
}
.about-details .item {
	padding-right: 5px
}
.about-page .member-social li a {
	margin: 0
}
}
@media only screen and (min-width:800px) and (max-width:979px) {
.overlay .overlay-close {
	width: 20px!important;
	height: 52px!important;
	right: 6%!important;
	top: 2%!important
}
.overlay-genie.open nav {
	left: 0
}
.menu-logo {
	padding-top: 142px;
	position: absolute;
	margin-top: 0
}
.next-section {
	padding-top: 30px
}
.cd-section h1 {
	font-size: 2.06rem
}
.section-title {
	padding-bottom: 10px;
	font-size: 2.5rem
}
.section-description {
font-size:.89rem;
	line-height: 25px;
	padding-bottom: 55px
}
.member-name {
	font-size: 1rem
}
.item-details {
	font-size: .75em;
	padding-top: 10px;
	line-height: 20px
}
.item-title {
	font-size: 1rem
}
.portfolio-details figure {
	max-width: 44%;
	height: 130px
}
.entry-title {
font-size:.95rem
}
.comment-content p, .entry-text {
font-size:.78rem;
	line-height: 20px
}
.blog-details {
	padding-right: 15px
}
.contact-icon {
	font-size: 1.18rem
}
.address-details {
	padding-top: 40px
}
.address-details a, address p, span.mobile-no {
font-size:.7rem;
	line-height: 15px
}
.contactform input, .contactform textarea {
font-size:.7rem;
	margin-bottom: 25px
}
.service-page .section-description {
	padding-bottom: 30px;
font-size:.8rem;
	line-height: 20px
}
.service-page .item-title {
font-size:.94rem
}
.service-page .our-success p, .service-page .service-details p {
font-size:.8rem
}
.service-page .service-details .item {
	padding-bottom: 25px;
	font-size: .85em;
	max-width: 49%
}
.service-page .service-details .item p {
	font-size: .8em;
	line-height: 18px
}
.service-page .our-success {
	padding-top: 35px
}
.success-counter .item-icon {
	font-size: 2em;
	padding-bottom: 7px
}
.success-counter .item-name {
	font-size: 1.1em
}
.success-counter .count {
	font-size: 3em
}
.other-services {
	padding-top: 10px
}
.other-services p {
	font-size: .8em
}
.list-items {
	padding-top: 20px
}
.list-items p {
	font-size: .65em;
	line-height: 22px
}
.list-items li p {
	padding-left: 10px
}
.about-page p {
font-size:.8rem;
	line-height: 20px
}
.about-page .our-team {
	padding-top: 30px
}
.about-page .section-title {
	font-size: 2.6rem
}
.about-page .section-description {
font-size:.8rem;
	padding-bottom: 35px
}
.chart-content {
	margin-left: 0;
	font-size: 2em
}
.our-story p, .our-team p {
font-size:.8rem;
	line-height: 20px
}
.about-page .about-details {
	padding-top: 30px
}
.about-page .item-details {
	font-size: .7em;
	padding-top: 8px;
	line-height: 20px
}
.about-page .member {
	max-width: 41%!important;
	height: 165px;
	height: 165px
}
.about-details .item {
	padding-bottom: 15px
}
.about-page blockquote {
	font-size: 1rem;
	line-height: 22px
}
.skills-details canvas {
	height: 130px;
	width: 130px
}
.about-details .item {
	padding-right: 5px
}
.about-page .member-social li a {
	margin: 0
}
.testimonial-slider h2 {
	font-size: 1.2em!important
}
.testimonial-slider h6 {
	font-size: 1em!important
}
}
@media only screen and (min-width:769px) and (max-width:799px) {
.overlay .overlay-close {
	width: 20px!important;
	height: 52px!important;
	right: 6%!important;
	top: 2%!important
}
.overlay-genie.open nav {
	left: 0
}
.menu-logo {
	padding-top: 80px;
	position: absolute;
	margin-top: 0
}
.next-section {
	padding-top: 60px
}
.section-title {
	padding-bottom: 10px;
	font-size: 3.06rem
}
.section-description {
font-size:.89rem;
	line-height: 25px;
	padding-bottom: 55px
}
.item-details {
	font-size: .9em;
	padding-top: 10px;
	line-height: 20px
}
.item-title {
	font-size: 1rem
}
.portfolio-details figure {
	max-width: 44%;
	height: 130px
}
.entry-title {
font-size:.95rem
}
.comment-content p, .entry-text {
font-size:.78rem;
	line-height: 20px
}
.blog-details {
	padding-right: 15px
}
.member-name {
	font-size: 1rem
}
.contact-icon {
	font-size: 1.18rem
}
.address-details {
	padding-top: 40px
}
.address-details a, address p, span.mobile-no {
font-size:.7rem;
	line-height: 15px
}
.contactform input, .contactform textarea {
font-size:.7rem;
	margin-bottom: 25px
}
.contactform input {
	width: 45%
}
.about-page .member-social li a {
	width: 23px;
	height: 27px
}
.contactform textarea {
	width: 60%
}
.cd-half-block:nth-of-type(2) {
	padding: 4%!important
}
.service-page .section-1 .cd-half-block.left-side {
	padding: 3%!important
}
.service-page .section-description {
	padding-bottom: 30px;
font-size:.9rem;
	line-height: 20px
}
.service-page .item-title {
font-size:.94rem
}
.service-page .our-success p, .service-page .service-details p {
font-size:.9rem
}
.service-page .service-details .item {
	padding-bottom: 25px;
	font-size: .85em;
	max-width: 49%
}
.service-page .service-details .item p {
	font-size: .9em;
	line-height: 18px
}
.service-page .our-success {
	padding-top: 35px
}
.success-counter .item-icon {
	font-size: 2em;
	padding-bottom: 7px
}
.success-counter .item-name {
	font-size: 1.1em
}
.success-counter .count {
	font-size: 3em
}
.other-services {
	padding-top: 10px
}
.other-services p {
	font-size: .8em
}
.list-items {
	padding-top: 20px
}
.list-items p {
	font-size: .65em;
	line-height: 22px
}
.list-items li p {
	padding-left: 10px
}
.about-page p {
font-size:.9rem;
	line-height: 20px
}
.about-page .our-team {
	padding-top: 30px
}
.about-page .section-title {
	font-size: 2.6rem
}
.about-page .section-description {
font-size:.8rem;
	padding-bottom: 35px
}
.chart-content {
	margin-left: 0;
	font-size: 2em;
	left: 38%
}
.our-story p, .our-team p {
font-size:.9rem;
	line-height: 20px
}
.about-page .about-details {
	padding-top: 30px
}
.about-page .item-details {
	font-size: .75em;
	padding-top: 8px;
	line-height: 20px
}
.about-page .member {
	max-width: 41%!important;
	height: 165px;
	height: 165px
}
.about-details .item {
	padding-bottom: 15px
}
.about-page blockquote {
	font-size: 1rem;
	line-height: 22px
}
.skills-details canvas {
	height: 130px;
	width: 130px
}
.about-details .item {
	padding-right: 5px
}
.about-page .member-social li a {
	margin: 0
}
.testimonial-slider h2 {
	font-size: 1.2em!important
}
.testimonial-slider h6 {
	font-size: 1em!important
}
}
@media only screen and (min-width:669px) and (max-width:768px) {
.overlay .overlay-close {
	width: 20px!important;
	height: 52px!important;
	right: 6%!important;
	top: 2%!important
}
.overlay-genie.open nav {
	left: 0
}
.menu-area {
	width: 350px
}
.menu-logo {
	padding-top: 60px;
	margin-top: 15%;
	left: 44.6%;}
.section-title {
	padding-bottom: 10px;
	font-size: 3.06rem
}
.item-title {
font-size:.9rem
}
.portfolio-details figure {
	max-width: 43%
}
.service-page .section-1 .cd-half-block.left-side {
	top: 110%;
	position: absolute
}
.service-page .section-1 .cd-half-block {
	top: 0;
	position: absolute
}
.other-services {
	padding-bottom: 30px
}
.blog-details {
	padding-right: 15px
}
.member-name {
	font-size: 1rem
}
.contact-icon {
	font-size: 1.18rem
}
.address-details {
	padding-top: 40px;
	padding-bottom: 60px
}
.address-details a, address p, span.mobile-no {
font-size:.9rem;
	line-height: 22px
}
.contactform input, .contactform textarea {
font-size:.9rem;
	margin-bottom: 25px
}
.contactform button {
	margin: 55px 10px 0 0
}
.about-page p {
font-size:.9rem;
	line-height: 20px
}
.about-page .our-team {
	top: 120%;
	position: relative
}
#blog-single .commentform button {
	margin: 1px 10px 0 0
}
section.cd-section.section-2 {
	position: absolute;
	z-index: 2;
	top: 130%
}
footer {
	display: none
}
.about-page .section-title {
	font-size: 2.6rem
}
.portfolioFilter a {
	margin: 0 8px 10px
}
.about-page .section-description {
font-size:.9rem;
	padding-bottom: 35px
}
.chart-content {
	margin-left: 0;
	font-size: 2em;
	left: 40%
}
.our-story p, .our-team p {
font-size:.9rem;
	line-height: 20px
}
.about-page .about-details {
	padding-top: 30px
}
.about-page .item-details {
	font-size: .8em;
	padding-top: 8px;
	line-height: 20px
}
.about-page .member {
	max-width: 41%!important
}
.about-page .cd-half-block:nth-of-type(2) {
	padding: 16% 10% 7% 7%
}
.about-page .member {
	height: 165px;
	height: 165px
}
.about-details .item {
	padding-bottom: 15px
}
.about-page blockquote {
	font-size: 1rem
}
.skills-details {
	padding-bottom: 80px
}
.skills-details canvas {
	height: 110px;
	width: 110px
}
.about-details .item {
	padding-right: 5px
}
.about-page .member-social li a {
	margin: 0
}
.about-page .section-1 .cd-half-block.left-side {
	position: absolute
}
.about-page .cd-half-block.left-side {
	padding: 5%
}
.about-page .section-1 .cd-half-block {
	position: absolute
}
.testimonial-slider h2 {
	font-size: 2em!important
}
.testimonial-slider h6 {
	font-size: 1.4em!important
}
}
@media only screen and (min-width:640px) and (max-width:668px) {
.overlay .overlay-close {
	width: 20px!important;
	height: 52px!important;
	right: 6.2%!important;
	top: 2%!important
}
.overlay-genie.open nav {
	left: 0
}
.main-title {
	padding-top: 200px
;
	font-size: 31px !important;
}
.sub-title {
	margin-top: 0px
}
.menu-logo {
	margin-top: 0!important;
	padding-top: 80px!important
}
.overlay ul li a {
	line-height: 40px
}
.menu-area {
	width: 370px
}
.section-title {
	padding-bottom: 10px;
	font-size: 2.8rem!important
}
.section-description {
	font-size: 1rem;
	line-height: 25px;
	padding-bottom: 55px
}
.item-details {
	font-size: 1em;
	padding-top: 10px;
	line-height: 25px
}
.portfolio-details figure {
	max-width: 43%
}
.entry-title {
font-size:.95rem
}
.comment-content p, .entry-text {
font-size:.78rem;
	line-height: 20px
}
.blog-details {
	padding-right: 15px
}
.member-name {
	font-size: 1rem
}
.contact-icon {
	font-size: 1.18rem
}
.address-details {
	padding-top: 40px;
	padding-bottom: 60px
}
.address-details a, address p, span.mobile-no {
font-size:.9rem;
	line-height: 22px
}
#service .cd-half-block:nth-of-type(2) {
	margin: 0
}
.contactform input, .contactform textarea {
font-size:.7rem;
	margin-bottom: 25px
}
.service-page .section-1 .cd-half-block.left-side {
	top: 110%;
	position: absolute
}
.service-page .section-1 .cd-half-block {
	top: 0;
	position: absolute
}
.other-services {
	padding-bottom: 30px
}
.item-image {
	top: 45%;
	margin-top: 0
}
.cd-half-block:nth-of-type(1) {
	height: 60vh
}
.ovr_flw{overflow-y:scroll;}
.about-page .our-story {
	position: absolute;
	margin-top: -100px
}
.about-page .our-story p {
	font-size: 1em;
	line-height: 25px
}
.about-page .our-team {

	position: absolute;
	top: 680px
}
.about-page .about-details {
	position: absolute
}
.about-details .item, .service-details .item {
	padding-bottom: 15px
}
.about-details .btn, .service-details .btn {
	margin-bottom: 30px
}
.cd-half-block:nth-of-type(2) {
	padding: 0 10px;
	margin-bottom: 40px
}
.team-details {
	padding-top: 30px
}
.about-page .member-social li a {
	display: none
}
.about-page .member-details {
	height: 135px
}
.testimonial-slider {
	padding-bottom: 30px;
	overflow: hidden;
	z-index: 300
}
.slide img {
	max-width: 100%;
	height: 145px
}
section.cd-section.section-2 {
	margin-top: 110%!important
}
.about-page .cd-half-block.left-side {
	padding: 2%
}
.cd-half-block:nth-of-type(2) .our-skills {
	margin: 75% 2% 0 0;
	position: absolute;
	z-index: 1
}
.progress-wrap {
	width: 45%
}
.testimonial-slider label {
	bottom: 150px
}
.chart-title {
	font-size: 2.2em
}
footer {
	display: none
}
.half-block.right-side .our-skills {
	top: 400%;
	position: absolute
}
.about-page .section-title {
	font-size: 2.6rem
}
.about-page .section-description {
font-size:.9rem;
	padding-bottom: 35px
}
.chart-content {
	margin-left: 0;
	font-size: 2.5em;
	left: 36%
}
.our-story p, .our-team p {
	font-size: 1rem;
	line-height: 25px
}
.about-page .about-details {
	padding-top: 50px
}
.about-page .item-details {
	padding-top: 8px;
	font-size: 1em;
	line-height: 25px
}
.about-page .member {
	max-width: 38%!important;
	height: 165px
}
.about-details .item {
	padding-bottom: 15px
}
.skills-details {
	padding-bottom: 80px
}
.portfolioFilter a {
	margin: 5px!important;
	padding: 5px 8px!important
}
.skills-details canvas {
	height: 50%;
	width: 80%
}
.about-page .about-details .item {
	max-width: 100%
}
.about-details .item {
	padding-right: 5px
}
.about-page .member-social li a {
	margin: 0
}
.testimonial-slider {
	width: 100%;
	min-height: 520px;
	margin: 30px auto;
	position: relative;
	padding-top: 0
}
.testimonial-slider h2 {
	font-size: 2em!important
}
.testimonial-slider h6 {
	font-size: 1.4em!important
}
}
@media only screen and (min-width:481px) and (max-width:639px) {
.menu-logo {
	padding-top: 30px;
	left: 42%
}
.ovr_flw{overflow-y:scroll;}
.overlay .overlay-close {
	right: 6%;
	top: 2%
}
.overlay nav {
	top: 37%;
	left: -1%
}
.main-title {
	padding-top: 200px
}
.section-title {
	padding-bottom: 10px;
	font-size: 2rem
}
.cd-section h1 {
	font-size:29px;
}
.service-details .title {
	font-size: 1.4em
}
.sub-title {
	font-size: 1em;
	margin-top: 0px
}
.member {
	padding-right: 0
}
.cd-half-block:nth-of-type(1) {
	height: 62vh;}
.next-section {
	padding-top: 30px
}
.section-description {
font-size:.9rem;
	line-height: 25px;
	padding-bottom: 55px
}
.item-details {
	font-size: .9em;
	padding-top: 10px;
	line-height: 20px
}
.item-title {
	font-size: 1rem
}
.portfolio-details figure {
	max-width: 43%
}
.entry-title {
font-size:.95rem
}
.comment-content p, .entry-text {
font-size:.9rem;
	line-height: 20px
}
.blog-details {
	padding-right: 15px
}
.member-name {
	font-size: 1rem
}
.contact-icon {
	font-size: 1.18rem
}
.address-details {
	padding-top: 40px;
	padding-bottom: 60px
}
.address-details li {
	width: 100%
}
.address-details a, address p, span.mobile-no {
font-size:.9rem;
	line-height: 15px
}
.contactform input, .contactform textarea {
font-size:.7rem;
	margin-bottom: 25px
}
.menu-area {
	width: 240px
}
.sliding-menu li {
	max-width: 150px!important
}
.sliding-menu a {
	font-size: .8em;
	padding: .8em
}
.sliding-menu a.nav:before {
	top: 15px
}
.sliding-menu a.back:before {
	left: 60px;
	top: 15px
}
.sliding-menu a.back {
	padding-top: 12px;
	padding-left: 75px
}
.service-page .section-description {
	padding-bottom: 30px;
	font-size: 1rem;
	line-height: 25px
}
.service-page .item-title, .service-page .our-success p, .service-page .service-details p {
	font-size: 1rem
}
.service-page .service-details .item {
	padding-bottom: 25px;
	font-size: .85em;
	max-width: 100%
}
.service-page .service-details .item p {
	font-size: 1em;
	line-height: 22px
}
.service-page .our-success {
	padding-top: 35px
}
.success-counter .item-icon {
	font-size: 2em;
	padding-bottom: 7px
}
.success-counter .item-name {
	font-size: 1.1em
}
.success-counter .count {
	font-size: 3em
}
.other-services {
	padding-bottom: 30px!important
}
.other-services p {
	font-size: 1em
}
.list-items {
	padding-top: 20px
}
.list-items p {
	font-size: .8em;
	line-height: 18px
}
.list-items li p {
	padding-left: 10px
}
.service-page .section-1 .cd-half-block.left-side {
	top: 85%;
	position: absolute
}
.service-page .section-1 .cd-half-block {
	top: 0;
	position: absolute
}
.about-page .our-story {
	position: absolute;
	margin-top: -100px
}
.about-page .our-story p {
	font-size: .8em;
	line-height: 20px
}
.about-page .our-team {
	position: absolute;
	top: 600px
}
.about-page .about-details {
	position: absolute
}
.about-details .item, .service-details .item {
	padding-bottom: 15px
}
.about-details .btn, .service-details .btn {
	margin-bottom: 30px
}
.cd-half-block:nth-of-type(2) {
	padding: 0 10px;
	margin-bottom: 40px
}
.team-details {
	padding-top: 0
}
.about-page .member-social li a {
	display: none
}
.about-page .member-details {
	height: 135px
}
.about-page blockquote {
	padding: 10px
}
.testimonial-slider {
	padding-bottom: 30px;
	overflow: hidden;
	z-index: 300
}
.slide img {
	max-width: 100%;
	height: 145px
}
section.cd-section.section-2 {
	margin-top: 130%!important
}
.cd-half-block:nth-of-type(2) .our-skills {
	margin: 75% 2% 0 0;
	position: absolute;
	z-index: 1
}
.progress-wrap {
	width: 45%
}
.testimonial-slider label {
	bottom: 240px
}
.chart-title {
	font-size: 2.2em
}
footer {
	display: none
}
.half-block.right-side .our-skills {
	top: 400%;
	position: absolute
}
.about-page .section-title {
	font-size: 2.6rem
}
.about-page .section-description {
font-size:.9rem;
	padding-bottom: 35px
}
.chart-content {
	margin-left: 0;
	font-size: 2.5em;
	left: 36%
}
.our-story p, .our-team p {
font-size:.9rem;
	line-height: 20px
}
.about-page .about-details {
	padding-top: 30px
}
.about-page .item-details {
	font-size: .8em;
	padding-top: 8px;
	line-height: 20px
}
.about-page .member {
	max-width: 38%!important;
	height: 165px
}
.about-details .item {
	padding-bottom: 15px
}
.about-page blockquote {
	font-size: 1rem
}
.skills-details {
	padding-bottom: 80px
}
.portfolioFilter a {
	margin: 5px!important;
	padding: 5px 8px!important
}
.skills-details canvas {
	height: 50%;
	width: 80%
}
.about-page .about-details .item {
	max-width: 100%
}
.about-details .item {
	padding-right: 5px
}
.about-page .member-social li a {
	margin: 0
}
.testimonial-slider {
	width: 100%;
	min-height: 520px;
	margin: 30px auto;
	position: relative;
	padding-top: 0
}
.testimonial-slider h2 {
	font-size: 2em!important
}
.testimonial-slider h6 {
	font-size: 1.4em!important
}
}
@media only screen and (min-width:361px) and (max-width:480px) {
	

	.ovr_flw{overflow-y:scroll;}
	.cd-headline.rotate-1 .cd-words-wrapper{width: 72% !important;}
.menu-logo {
	padding-top: 40px;
	left: 40%
}
.overlay ul li a {
	font-size: 22px;
	line-height: 40px
}
.main-title {
	padding-top: 200px
}
.section-title {
	padding-bottom: 10px;
	font-size: 2rem
}
.cd-section h1 {
	font-size: 22px;}
.service-details .title {
	font-size: 1.4em
}
.sub-title {
	font-size: 1em;
	margin-top: -3px;}
.member {
	padding-right: 0;
	max-width: 100%;
	padding-bottom: 30px
}
.cd-half-block:nth-of-type(1) {
	height: 60vh
}
.next-section {
	padding-top: 30px
}
.section-description {
font-size:.9rem;
	line-height: 25px;
	padding-bottom: 55px
}
.item-details {
	font-size: .9em;
	line-height: 22px
}
.item-title {
	font-size: 1rem
}
.portfolio-details figure {
	max-width: 95%
}
.entry-title {
font-size:.95rem
}
.comment-content p, .entry-text {
font-size:.78rem;
	line-height: 20px
}
.blog-details {
	padding-right: 15px
}
.member-name {
	font-size: 1rem;
	display: block
}
.contact-icon {
	font-size: 1.18rem
}
.address-details {
	padding-top: 40px;
	padding-bottom: 60px
}
.address-details li {
	width: 100%
}
.address-details a, address p, span.mobile-no {
font-size:.9rem;
	line-height: 20px
}
.contactform input {
	width: 44%
}
.contactform textarea {
	width: 59%
}
.contactform input, .contactform textarea {
font-size:.7rem;
	margin-bottom: 25px
}
.contactform button {
	margin: 40px 10px 0 0
}
.overlay .overlay-close {
	right: 8%;
	top: 11%
}
.overlay-genie.open nav {
	padding-top: 0
}
.service-page .section-1 .cd-half-block.left-side {
	top: 145%
}
.list-items li p {
	margin-top: -23px
}
.about-page .our-story {
	position: absolute;
	margin-top: -100px
}
.about-page .our-story p {
	font-size: .8em;
	line-height: 20px
}
.about-page .our-team {
	position: absolute;
	top: 600px
}
.about-page .about-details {
	position: absolute
}
.about-details .item, .service-details .item {
	padding-bottom: 15px
}
.about-details .btn, .service-details .btn {
	margin-bottom: 30px
}
.cd-half-block:nth-of-type(2) {
	padding: 0 10px
}
.about-page .member-social li a {
	display: none
}
.about-page .member-details {
	height: 135px
}
.about-page blockquote {
	padding: 10px
}
.testimonial-slider {
	padding-bottom: 30px;
	overflow: hidden;
	z-index: 300
}
.slide img {
	max-width: 100%;
	height: 145px
}
section.cd-section.section-2 {
	margin-top: 130%!important
}
.cd-half-block:nth-of-type(2) .our-skills {
	margin: 65% 2% 0 0;
	position: absolute;
	z-index: 1
}
.progress-wrap {
	width: 45%
}
.testimonial-slider label {
	bottom: 240px
}
.chart-content {
	left: 31%
}
.chart-title {
	font-size: 1.1em
}
footer {
	display: none
}
.half-block.right-side .our-skills {
	top: 400%;
	position: absolute
}
.about-page .section-title {
	font-size: 2.6rem
}
.about-page .section-description {
font-size:.9rem;
	padding-bottom: 35px
}
.chart-content {
	margin-left: 0;
	font-size: 2em
}
.our-story p, .our-team p {
font-size:.9rem;
	line-height: 20px
}
.about-page .about-details {
	padding-top: 30px
}
.about-page .item-details {
	font-size: .8em;
	padding-top: 8px;
	line-height: 20px
}
.about-page .member {
	max-width: 38%!important;
	height: 165px
}
.about-details .item {
	padding-bottom: 15px
}
.about-page blockquote {
	font-size: 1rem
}
.skills-details {
	padding-bottom: 80px
}
.portfolioFilter a {
	margin: 5px!important;
	padding: 5px 12px!important
}
.skills-details canvas {
	height: 110px;
	width: 110px
}
.about-page .about-details .item {
	max-width: 100%
}
.about-details .item {
	padding-right: 5px
}
.about-page .member-social li a {
	margin: 0
}
.testimonial-slider {
	width: 100%;
	min-height: 520px;
	margin: 0 auto;
	position: relative;
	padding-top: 0
}
.testimonial-slider h2 {
	font-size: 2em!important
}
.testimonial-slider h6 {
	font-size: 1.4em!important
}
.success-counter .count {
	font-size: 2.75em
}
.success-counter .item-name {
	font-size: .9em
}
.service-page .section-1 .cd-half-block.left-side {
	position: absolute;
	z-index: 20;
	width: 100%
}
.other-services {
	position: absolute
}
.service-details .item {
	max-width: 100%
}
.list-items li {
	margin-bottom: 10px
}
.list-items li p {
	padding-left: 25px
}
.service-details p, .service-page .section-description {
font-size:.9rem;
	line-height: 20px
}
.item-details {
	padding-top: 10px;
	padding-bottom: 10px
}
}
@media only screen and (min-width:321px) and (max-width:360px) {
.cd-section:nth-of-type(2) .cd-half-block:first-of-type, .cd-section:nth-of-type(3) .cd-half-block:first-of-type, .cd-section:nth-of-type(4) .cd-half-block:first-of-type, .cd-section:nth-of-type(5) .cd-half-block:first-of-type, .cd-section:nth-of-type(6) .cd-half-block:first-of-type, .cd-section:nth-of-type(7) .cd-half-block:first-of-type {

	height: 150px!important
}
	.cd-headline.rotate-1 .cd-words-wrapper{width: 69% !important;}
.ovr_flw{overflow-y:scroll;}
.site-logo {
	padding-top: 60px
}
.sub-title {
	font-size: .9em;
	margin-top: -8px;}
.entry-text {
font-size:.8rem;
	line-height: 20px
}
.main-title {
	padding-top: 60px;
	font-size: 20px !important;
}
.cd-words-wrapper b {text-align:center !important;}
.section-title {
	font-size: 3.06rem
}
.item-details {
	font-size: .8em;
	line-height: 22px
}
.section-description {
font-size:.9rem;
	line-height: 22px;
	letter-spacing: normal;
	padding-bottom: 35px
}
.address-details li {
	width: auto
}
.member-name, .member-position {
font-size:.8rem
}
.portfolio-details figure img {
	height: 100px
}
.entry-title {
font-size:.9rem
}
.type-post {
	padding-bottom: 40px
}
.service-details .item {
	max-width: 100%!important;
	padding-bottom: 25px!important;
	font-size: .8em!important
}
.overlay-genie.open nav {
	padding-top: 15%!important
}
.overlay .overlay-close {
	right: 6%!important;
	top: 6%!important
}
.portfolio-page .section-description {
	font-size: .8em!important
}
.member {
	padding-bottom: 30px!important
}
.showMenu {
	top: 5%!important;
	right: 2%!important
}
.btn {
	padding: 10px 20px!important
}
.member-avatar img {
	height: 100px!important
}
.post-content {
	display: inline!important;
	padding-left: 0
}
.post-meta {
	display: none!important
}
.contactform input {
	width: 45%!important
}
.contactform textarea {
	width: 53%!important
}
.contact-icon {
	padding-bottom: 8px!important
}
details a {
font-size:.8rem!important;
	line-height: 20px!important
}
.menu-logo {
	margin-top: 8%!important;
	padding-top: 25px!important;
	left: 40%
}
.overlay-genie.open nav {
	padding-top: 0!important
}
.overlay ul li a {
	font-size: 22px;
	line-height: 37px
}
.about-page .member {
	margin: 0;
	margin-top: 25px!important;
	width: 42%
}
section.cd-section.section-2 {
	top: 250%!important
}
.chart-content {
	left: 42%!important;
	font-size: 2.5em!important
}
.skills-details {
	padding-bottom: 0
}
.portfolioFilter a {
	margin: 5px!important;
	padding: 5px 12px!important
}
.blog-single .post-meta {
	display: none!important
}
.blog-single .post-content {
	padding-left: 0!important
}
.comment-author img {
	width: 50px!important
}
.commentform input {
	width: 45%!important
}
.commentform textarea {
	width: 60%!important
}
.contactform button {
	margin: 60px 10px 0 0!important
}
.success-count-container {
	padding: 25px 0 0!important
}
.success-counter .item-name {
	font-size: .8em!important
}
.success-counter .item-icon {
	font-size: 2em!important
}
.comment-content {
	padding-left: 0!important
}
.comment-content p {
	font-size: .8em;
	line-height: 22px
}
.comment-content .author-name {
	margin-left: 60px
}
.comment-date time {
	margin-left: 10px
}
.about-page .our-story {
	position: absolute;
	margin-top: -303px
}
.about-page .our-story p {
	font-size: .9em;
	line-height: 22px
}
.about-page .our-team {
	position: absolute;
	top: 800px
}
.about-page .about-details {
	position: absolute;
	top: -150px
}
.about-details .item, .service-details .item {
	padding-bottom: 15px
}
.about-details .btn, .service-details .btn {
	margin-bottom: 30px
}
.our-team p {
	font-size: .9em;
	line-height: 20px
}
.cd-half-block:nth-of-type(2) {
	padding: 0 10px;
	margin-top: 40px
}
.about-page .member-social li a {
	display: none
}
.about-page .member-details {
	height: 135px
}
.about-page blockquote {
font-size:.9rem;
	padding: 10px
}
.testimonial-slider {
	width: 100%;
	min-height: 330px;
	margin: 0 auto;
	position: absolute;
	padding-bottom: 30px;
	overflow: hidden;
	padding-top: 50px;
	z-index: 300
}
.testimonial-slider h2 {
	font-size: 1.5em
}
.slide img {
	max-width: 100%;
	height: 145px
}
section.cd-section.section-2 {
	margin-top: 235%!important
}
.cd-half-block:nth-of-type(2) .our-skills {
	margin: 100% 2% 0 0;

	position: absolute;
	z-index: 1
}
.about-page .about-details .item {
	max-width: 100%
}
.progress-wrap {
	width: 100%
}
.success-counter .count {
	font-size: 2.75em
}
.service-page .section-1 .cd-half-block.left-side {
	position: absolute;
	z-index: 20;
	top: 160%
}
.list-items li {
	margin-bottom: 10px
}
.list-items li p {
	padding-left: 25px;
	margin-top: -23px
}
.service-details p, .service-page .section-description {
font-size:.9rem;
	line-height: 20px
}
.item-details {
	padding-top: 10px;
	padding-bottom: 10px
}
}
@media only screen and (max-width:320px) {
.portfolio-page .section-description {
	font-size: .8em!important
}
	.cd-headline.rotate-1 .cd-words-wrapper{width: 69% !important;}
.ovr_flw{overflow-y:scroll;}
.member {
	padding-bottom: 30px!important
}
.site-logo {
	padding-top: 60px
}
.sub-title {
	font-size: .9em;
	margin-top: -101px
}
.main-title {
	padding-top: 150px
}
.entry-title {
font-size:.9rem
}
.entry-text {
font-size:.8rem;
	line-height: 18px
}
.type-post {
	padding-bottom: 30px
}
.section-title {
	font-size: 3.06rem
}
.item-details {
	font-size: .8em;
	line-height: 22px
}
.member-name {
font-size:.8rem
}
.portfolio-details figure {
	max-width: 42%
}
.member-position {
font-size:.8rem
}
.section-description {
font-size:.8rem;
	line-height: 22px;
	letter-spacing: normal;
	padding-bottom: 35px
}
.showMenu {
	top: 5%!important;
	right: 2%!important
}
.btn {
	padding: 10px 20px!important
}
.member-avatar img {
	height: 100px!important;
	width: 100px
}
.post-content {
	display: inline!important;
	padding-left: 0
}
.post-meta {
	display: none!important
}
.contactform input {
	width: 45%!important
}
.contactform textarea {
	width: 53%!important
}
.contactform button {
	margin: 45px 10px 0 0
}
.contact-icon {
	padding-bottom: 8px!important
}
.address-details li {
	width: auto
}
details a {
font-size:.8rem!important;
	line-height: 20px!important
}
.overlay .overlay-close {
	width: 20px!important;
	height: 22px!important;
	right: 18px!important;
	top: 30px!important
}
.menu-logo {
	margin-top: 12%!important;
	padding-top: 25px!important;
	margin-left: -9%
}
.overlay-genie.open nav {
	padding-top: 0!important
}
.overlay ul li a {
	font-size: 18px;
	line-height: 25px
}
section.cd-section.section-2 {
	top: 290%!important
}
.chart-content {
	left: 44%!important;
	font-size: 2.5em!important
}
.skills-details {
	padding-bottom: 0
}
.comment-content p {
	font-size: .8em;
	line-height: 22px
}
.comment-content .author-name {
	margin-left: 60px
}
.comment-date time {
	margin-left: 10px
}
.portfolioFilter a {
	margin: 5px!important;
	padding: 5px 12px!important
}
.blog-single .post-meta {
	display: none!important
}
.blog-single .post-content {
	padding-left: 0!important
}
.comment-author img {
	width: 50px!important
}
.comment-content {
	padding-left: 0!important
}
.commentform input {
	width: 45%!important
}
.commentform textarea {
	width: 60%!important
}
.commentform button {
	margin: 0 10px 0 0!important
}
.about-page .our-story {
	position: absolute;
	margin-top: -303px
}
.about-page .our-story p {
	font-size: .9em;
	line-height: 22px
}
.about-page .our-team {
	position: absolute;
	top: 800px
}
.about-page .about-details {
	position: absolute;
	top: -150px
}
.about-details .item, .service-details .item {
	padding-bottom: 15px
}
.about-details .btn, .service-details .btn {
	margin-bottom: 30px
}
.our-team p {
	font-size: .9em;
	line-height: 20px
}
.about-page .member {
	margin-top: 45px!important;
	margin: -25px 34px -25px 0
}
.cd-half-block:nth-of-type(2) {
	padding: 0 10px;
	margin-top: 40px
}
.about-page .member-social li a {
	display: none
}
.about-page .member-details {
	height: 135px
}
.about-page blockquote {
font-size:.9rem;
	padding: 10px
}
.testimonial-slider {
	width: 100%;
	min-height: 330px;
	margin: 0 auto;
	position: absolute;
	padding-bottom: 30px;
	overflow: hidden;
	padding-top: 50px;
	z-index: 300
}
.testimonial-slider h2 {
	font-size: 1.5em
}
.slide img {
	max-width: 100%;
	height: 145px

}
section.cd-section.section-2 {
	margin-top: 265%!important
}
.cd-half-block:nth-of-type(2) .our-skills {
	margin: 66% 2% 0 0;
	position: absolute;
	z-index: 1
}
.about-page .about-details .item {
	max-width: 100%
}
.progress-wrap {
	width: 100%
}
.success-counter .count {
	font-size: 2.75em
}
.success-counter .item-name {
	font-size: .9em
}
.service-page .section-1 .cd-half-block.left-side {
	position: absolute;
	z-index: 20;
	top: 145%
}
.service-details .item {
	max-width: 100%
}
.list-items li {
	margin-bottom: 10px
}
.list-items li p {
	padding-left: 25px;
	margin-top: -23px
}
.service-details p, .service-page .section-description {
font-size:.9rem;
	line-height: 20px
}
.item-details {
	padding-top: 10px;
	padding-bottom: 10px
}
}
@media only screen and (min-width:1024px) and (max-height:600px) {
.menu-logo {
	padding-top: 50px
}
.main-title {
	padding-top: 330px
}
.address-details {
	padding-top: 0
}
.address-details li {
	padding: 0 15px
}
.contact-icon {
	font-size: 1.18rem
}
.contactform input, .contactform textarea {
	margin-bottom: 25px
}
address p {
font-size:.875rem;
	line-height: 20px;
	letter-spacing: -.3px
}
.item-image {
	font-size: 20px
}
.about-page blockquote {
	font-size: 1rem
}
.slide img {
	max-width: 130px
}
.testimonial-slider {
	min-height: 400px
}
.testimonial-slider h2 {
	font-size: 1.5rem
}
.progress-wrap {
	padding-bottom: 20px
}
.chart-title {
	padding-top: 0;
	font-size: 1.25rem
}
.service-page .section-title {
	font-size: 2.5rem;
	padding-bottom: 0
}
.service-page .section-description {
	padding-bottom: 20px!important
}
.service-page .title {
	padding-bottom: 10px
}
.service-page .service-items {
	padding-top: 15px
}
.service-page .service-details .item {
	padding-bottom: 15px
}
.service-page .item-title {
	padding-bottom: 5px
}
.service-page .item-details {
	padding-top: 10px
}
}
@media only screen and (min-height:1024px) and (max-width:768px) {
.section-description {
	font-size: 1em;
	line-height: 25px;
	padding-bottom: 45px
}
.portfolio-details figure {
	max-width: 43%
}
}
