
/* 1 - Google Font
------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* 1 - Google Font End 
------------------------------------------------------------------------*/


/* 2 - General styles
---------------------------------------------------------------------- */
html,
body {
  font-family: 'Abel', 'Open Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -0-font-smoothing: antialiased;
}

body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
*, 
*::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box;
  -ms-box-sizing: border-box; 
  -0-box-sizing: border-box;   
  box-sizing:        border-box;   
}
a {
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
a:focus {
  outline:none;
  outline-offset:0;
}
p {
  color: #000000;
  font-size: 1em;
  line-height: 25px;
  font-family: 'Open Sans';
  margin: 0px;

  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  list-style: none;

  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
img {
  max-width: 100%;
  height: auto;
}

/* 2.1 --------- Headings ------------- */

h1 {
  font-size: 2.75em;
}
h2 {
  font-size: 2.18em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.375em;
}
h5 {
  font-size: 1.125em;
}
h6 {
  font-size: 1em;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  padding: 0px;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

.site-logo {
  padding-top: 14%;
}
.menu-logo{
  padding-top: 100px;
  position: absolute;
  margin-top: 8%;
  left: 47.5%;
  width: 79px !important;
  width: auto;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.main-title {
  color: #000000;
  font-weight: 400;
  padding-top: 6%;
  text-transform: capitalize;
}

.cd-section h1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 2.6rem;
}

.sub-title {
  color: #0E324F;
  font-size: 13px;
  font-family: 'Open Sans';
  font-weight: 600;
  letter-spacing: 2.5px;
  margin-top: 0%;
  text-transform: uppercase;
}
.cd-block, .cd-half-block {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-block {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
.cd-section:first-of-type .cd-block {
  visibility: visible;
  height: 100vh;
  background: url(../images/home.jpg) no-repeat;
  text-align: center;
  background-position: 72% 100%;
}



.cd-half-block {
  background: #ffffff;
  color: #263b40;
}
.cd-half-block:nth-of-type(1) {
  height: 95vh;
  background-color: #263b40;
  background-position: center center;
  background-repeat: no-repeat;
}
.cd-half-block:nth-of-type(2) {
  padding: 9% 10% 7% 7%;
}

.section-title {
  color: #000000;
  font-size: 4.06rem;
  font-weight: 400;
  padding-bottom: 30px;
  text-transform: capitalize;
}
.section-description {
  color: #595959;
  font-size: 1.35rem;
  line-height: 37px;
  font-weight: 300;
  letter-spacing: .3px;
  padding-bottom: 85px;
}
.item-title {
  color: #000000;
  display: inline-block;
  font-size: 1.125rem;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px !important;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  width:100%;
}
.item-title:before,
.member-name:before {
  content: '';
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #e74c3c;
  left: 0px;
  position: absolute;
}
.item-details {
  color: #000000;
  font-size: 1em;
  padding-top: 16px;
  letter-spacing: .2px;
  word-spacing: .4px;
}

.cd-section:nth-of-type(2) .cd-half-block:first-of-type,
.cd-section:nth-of-type(3) .cd-half-block:first-of-type,
.cd-section:nth-of-type(4) .cd-half-block:first-of-type,
.cd-section:nth-of-type(5) .cd-half-block:first-of-type,
.cd-section:nth-of-type(6) .cd-half-block:first-of-type,
.cd-section:nth-of-type(7) .cd-half-block:first-of-type {
  background-size: cover;
}

.cd-section:nth-of-type(2) .cd-half-block:first-of-type {
  background-image: url("../images/img-1.jpg");
}
.cd-section:nth-of-type(3) .cd-half-block:first-of-type {
  background-image: url("../images/img-2.jpg");
}
.cd-section:nth-of-type(4) .cd-half-block:first-of-type {
  background-image: url("../images/img-1.jpg");
}
.cd-section:nth-of-type(5) .cd-half-block:first-of-type {
  background-image: url("../images/img-4.jpg");
}
.cd-section:nth-of-type(6) .cd-half-block:first-of-type {
  background-image: url("../images/img-1.jpg");
}
.cd-section:nth-of-type(7) .cd-half-block:first-of-type {
  background-image: url("../images/img-5.jpg");
}
.cd-section:nth-of-type(8) .cd-half-block:first-of-type {
  background:#d1dbff !important;
}


.cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav li {
  display: block;
}
.cd-vertical-nav a {
  border: 1px solid #000000;
  color: #000000;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-vertical-nav a.inactive1 {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.01s 0s, visibility 0s 0.01s;
  -moz-transition: opacity 0.01s 0s, visibility 0s 0.01s;
  transition: opacity 0.01s 0s, visibility 0s 0.01s;
}

/* Home Section */
.next-section {
  padding-top: 60px;
}
.next-section button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
}
.next-section button:focus {
  outline: 0;
}
/* About Section */
.about-details .item {
  vertical-align: text-top;
  padding-bottom: 55px;
}

/* Service Section */

.service-details .item {
  font-size: .94em;
  width: 49%;
  display: inline-block;
  padding-bottom: 55px;
  padding-right: 15px;
  vertical-align: text-top;
}
.icon-container {
  display: inline-block;
  float: left;
  margin-top: 5px;
}
.service-details .item-icon {
  font-size: 1.25em;
  padding-right: 10px;
}

/* Team Section */
.client {
  display: inline-block;
  padding-right: 0%;
  max-width: 18%;
  text-align: center;
  margin: 3% 3% 3% 0%;
}
.member-name {
  color: #000000;
  display: inline-block;
  font-size: 1.125rem;
  font-family: 'Open Sans';
  font-weight: 700;
  position: relative;
  padding-bottom: 5px;
}
.member-position {
  display: block;
  font-size: .94rem;
  font-family: 'Open Sans';
  font-weight: 300;
  padding-top: 5px;
}

/* Portfolio Section */
.portfolio-details figure {
 max-width: 43%;
 display: inline-block;
 position: relative;
 margin: 0px;
 overflow: hidden;
 margin-right: 15px;
 margin-bottom: 15px;
}
.portfolio-details figure img {
  height: 100%;
  display: block;

  -webkit-transition: all .75s ease-out;
  -moz-transition: all .75s ease-out;
  -ms-transition: all .75s ease-out;
  -o-transition: all .75s ease-out;
  transition: all .75s ease-out;
}
.portfolio-details figcaption {
  background-color: rgba(255, 255, 255, 0.65);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  opacity: 0;

  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;

  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
.portfolio-details .item-title {
  padding-top: 30px;
}
.portfolio-details figure:hover img {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.portfolio-details figure:hover figcaption {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* Blog Section */
.type-post {
  padding-bottom: 60px;
}
.post-meta {
  border: 2px solid #000000;
  float: left;
  display: block;
}
.entry-date {
  font-size: 1.125em;
  font-weight: 700;
  font-family: 'Open Sans';
  text-transform: uppercase;
  padding: 5px 13px 13px 13px;
}
.entry-date span {
  color: ##10266C;
  display: block;
  font-size: 1.68rem;
}
.post-content {
  padding-left: 85px;
}
.entry-title {
  font-size: 1.31rem;
  font-weight: 700;
  font-family: 'Open Sans';
  text-transform: uppercase;
  padding-bottom: 15px;
}
.entry-title a {
  color: #000000;
}
.entry-text {
  font-size: 1rem;
  color: #000000;
}

/* Contact Section */
.google-map-container {
  width: 100%;
  height: 1000px;
}
.contactform input,
.contactform textarea {
  border: none;
  border-bottom: 2px solid #000000;
  color: #000000;
  margin-right: 10px;
  font-size: .94rem;
  margin-bottom: 35px;
  resize: none;
  background: none;
}
.contactform input {
  width: 45%;
}
.contactform textarea {
  width: 61%;
}
.contactform input:focus,

.contactform textarea:focus,
.contactform button:hover,
.contactform button:focus {
  outline: 0;
  color: #e74c3c;
  border-color: #e74c3c;
}
/*.contactform input:focus::-webkit-input-placeholder,
.contactform input:focus::-moz-placeholder,
.contactform input:focus:-ms-input-placeholder {
  color: #000000;
  font-size: .94rem;
  font-style: italic;
  }*/
  ::-webkit-input-placeholder,
  ::-webkit-textarea-placeholder {
   color: #000000;
   font-style: italic;
 }

 :-moz-placeholder { /* Firefox 18- */
   color: #000000;
   font-style: italic;  
 }

 ::-moz-placeholder {  /* Firefox 19+ */
   color: #000000;
   font-style: italic;  
 }

 :-ms-input-placeholder,
 :-ms-textarea-placeholder {  
   color: #e74c3c;
   font-style: italic;  
 }

 .contactform input:focus::-webkit-input-placeholder,
 .contactform input:focus::-webkit-textarea-placeholder {
   border-color: #e74c3c;
 }

 .contactform input:focus:-moz-placeholder { /* Firefox 18- */
   border-color: #e74c3c;  
 }

 .contactform input:focus::-moz-placeholder {  /* Firefox 19+ */
   border-color: #e74c3c;  
 }

 .contactform input:focus:-ms-input-placeholder,
 .contactform input:focus:-ms-textarea-placeholder {  
   border-color: #e74c3c;  
 }

 .contactform button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  cursor: pointer;
  float: right;
  font-style: italic;
  margin: 39px 10px 0 0;
  width: 32%;

  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
.address-details {
  padding-top: 85px;
  margin: 0px -15px;
  padding-bottom: 50px;
}
.address-details li {
  color: #000000;
  font-family: 'Open Sans';
  font-size: .94rem;
  width: 32%;
  padding: 15px;
  vertical-align: text-top;
}
.address-details span {
  display: block;
}
address p {
  color: #000000;
  font-size: .94rem;
  font-style: normal;
}
.contact-icon {
  font-size: 2.18rem;
  padding-bottom: 15px;
}
.address-details a {
  color: #000000;
}
.address-details a:hover {
  color: #e74c3c;
}

.animsition-loading:after{
  position:fixed;
  top:50%;
  width:100%;
  margin-top:40px;
    font-family: 'Playball', cursive;
  font-size:32px;
  text-align:center;
  content:"";
  letter-spacing:3px;
}




/*------------ Blog Simgle ---------------*/

.blog-single .post-thumbnail {
  margin: 0px;
  padding-bottom: 35px;
}
.blog-single .post-content {
  padding-left: 95px;
}
.blog-single blockquote {
  font-style: italic;
  padding: 30px 0px 10px 35px;
  position: relative;
}
.blog-single blockquote:before {
  content: "\e67f";
  position: absolute;
  font-family: 'themify';
  font-size: 2rem;
  left: 0px;
  top: 0px;
}
.post-bottom {
  padding-left: 95px;
  padding-top: 45px;
}
.post-bottom span {
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-left: 5px;
}
.post-bottom span:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2px;
  height: 100%;
  background-color: #e74c3c;
} 
.post-bottom a {
  color: #000000;
  text-transform: lowercase;
  font-weight: normal;
  font-style: italic;
}
.post-author .author-name {
  padding-right: 30px;
}
.comment-area .title {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}
.comment-area .title-icon {
  padding-right: 10px;
}
.comment-author {
  float: left;
}
.comment-content {
  padding-left: 130px;
}
.comment-list {
  padding-top: 35px;
}
.comment-list article {
  padding-bottom: 30px;
}
.comment-list .child {
  padding-left: 50px;
}
.comment-content .author-name {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
.comment-date time {
  font-size: .9rem;
  font-weight: 300;
  text-transform: capitalize;
}
.comment-date .entry-date {
  padding-left: 0px;
}
.comment-content p {
  padding-top: 20px;

  padding-bottom: 15px;
}
.comment-content .btn {
  color: #e74c3c;
  font-size: .94rem;
}
.comment-content .btn:hover {
  color: #414141;
}
.btn-icon {
  padding-right: 10px;
}
.leave-comment {
  padding-bottom: 120px;
}
.commentform {
  padding-top: 35px;
}
.commentform input,
.commentform textarea {
  border: none;
  border-bottom: 2px solid #000000;
  color: #000000;
  margin-right: 10px;
  font-size: .94rem;
  margin-bottom: 35px;
}
.commentform input {
  width: 32.25%;
}
.commentform textarea {
  width: 64.5%;
}
.commentform input:focus,
.commentform textarea:focus,
.commentform button:hover,
.commentform button:focus {
  outline: 0;
  color: #e74c3c;
  border-color: #e74c3c;
}
::-webkit-input-placeholder,
::-webkit-textarea-placeholder {
 color: #000000;
 font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
 color: #000000;
 font-style: italic;  
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #000000;
 font-style: italic;  
}

:-ms-input-placeholder,
:-ms-textarea-placeholder {  
 color: #e74c3c;
 font-style: italic;  
}
.commentform input:focus::-webkit-input-placeholder,
.commentform input:focus::-webkit-textarea-placeholder {
 border-color: #e74c3c;
}
.commentform input:focus:-moz-placeholder { /* Firefox 18- */
 border-color: #e74c3c;  
}
.commentform input:focus::-moz-placeholder {  /* Firefox 19+ */
 border-color: #e74c3c;  
}
.commentform input:focus:-ms-input-placeholder,
.commentform input:focus:-ms-textarea-placeholder {  
 border-color: #e74c3c;  
}
.commentform button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  cursor: pointer;
  float: right;
  font-style: italic;
  margin: 5px 10px 0px 0px;
  width: 31%;

  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.single-page .post-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}


@media (min-width: 1200px) {
  .single-page .post-container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .single-page .post-container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .single-page .post-container {
    width: 750px;
  }
}




/* About Section */
.about-details .item {
  padding-bottom: 55px;
  vertical-align: text-top;
}


/*----------- About Page -------------*/

.about-page .cd-half-block {
  text-align: left;
}
.about-page .about-details {
  padding-top: 50px;
}
.about-page .about-details .item {
  max-width: 49%;
  display: inline-block;
  vertical-align: text-top;
}
.title {
  padding-bottom: 15px;
}
.about-page .cd-half-block.left-side {
  background-color: #ffffff;
  padding: 5%;
}
.client-details {
  padding-top: 20px;
}
.about-page .member {
  position: relative;
  overflow: hidden;
  padding: 0px;
  margin: 0px 25px 20px 0px;
}
.about-page .member-avatar {
 -webkit-transition: all .5s ease;
 -moz-transition: all .5s ease;
 -ms-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
}
.about-page .member-details {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: -100%;
  left: 0px;
  width: 100%;
  height: 165px;
  padding: 15px 10px;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.about-page .member-social {
  padding-top: 15px;
}
.about-page .member-social li a {
  color: #000000;
  font-size: 1em;
  border: 1px solid #000000;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
  display: inline-block;
}
.about-page .member:hover .member-details {
  bottom: 0%;
}
.about-page .member:hover .member-avatar {
  opacity: .7;
}

/* Testimonial */

.about-page .section-2 .cd-half-block.left-side {
  background-color: #ffffff;
  background-image: none;
}

.testimonial-slider{
  width:100%;
  min-height: 520px;
  margin:0 auto;
  position:relative;
  padding-bottom:30px;
  overflow:hidden;
  padding-top: 50px;
}
input[type="radio"] {
  position: absolute;
  width: 1px; 
  height: 1px; 
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
label{
  display:block;
  width:32%;
  border: 4px solid #efefef;
  position:absolute;
  bottom:5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

label.second{
  left:34%;
}
label.third{
  left:68%;
}

.about-page blockquote{
  font-size: 1.5rem;
  margin: 0;
  padding: 30px;
  width: 100%;
  background-color: #DB532B;
  color: white;
  box-shadow: 0 5px 2px rgba(0,0,0,0.1);
  position: relative;
  -webkit-transition: background-color 0.6s linear;
  -moz-transition: background-color 0.6s linear;
  -ms-transition: background-color 0.6s linear;
  -o-transition: background-color 0.6s linear;
  transition: background-color 0.6s linear;
}

.about-page blockquote:after { 
  content: " "; 
  height: 0; 
  width: 0; 
  position: absolute; 
  top: 100%; 
  border: solid transparent; 
  border-top-color: #DA532B;
  border-left-color:#DA532B;
  border-width: 10px; 
  left: 10%; 
} 
#second:checked ~ .two blockquote {
  background-color:purple;
}
.two blockquote:after{
  border: solid transparent; 
  border-top-color: purple;
  border-left-color:purple;
  border-width: 10px;
}
#third:checked ~ .three blockquote{
  background-color:#54885F;
}
.three blockquote:after{
  border: solid transparent; 
  border-top-color: #54885F;
  border-left-color: #54885F;
  border-width: 10px;
}
.quotes{
  position:absolute;
  color:rgba(255,255,255,0.5);
  font-size:5em;
}
.leftq{
  top:-25px;
  left:5px;
}
.rightq{
  bottom:-10px;
  right:5px;
}
.slide{
  position:absolute;
  left:-100%;
  opacity:0;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -ms-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}
.slide img {
  max-width: 200px;
  height: auto;
  float:left;
  margin-right: 20px;
}
#first:checked ~ label.first {
  border-width:4px;
  border-color:#DB532B;
}
#second:checked ~ label.second {
  border-width: 4px; 
  border-color: purple;
}
#third:checked ~ label.third {
  border: 4px solid #54885F;
}

#first:checked ~ div.one {
  left:0;
  opacity:1;
}
#second:checked ~ div.two {
  left:0;
  opacity:1;
}
#third:checked ~ div.three {
  left:0;
  opacity:1;
}

/* Our Skills */

.skills-details {
  padding-top: 30px;
  text-align: center;
}
.progress-wrap {
  width: 49%;
  display: inline-block;
  padding-bottom: 30px;
}
.progress-items {
  position: relative;
}
.chart-content {
  position: absolute;
  text-align: center;
  left: 43%;
  margin-left: -10px;
  top: 32% !important;
  margin-top: -10px;
  font-size: 2em;
}
.percent {
  display: inline-block;
}
.chart-title {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 1.5em;
}





/*------------ Portfolio Page ------------*/

.portfolio-page .cd-block {
  padding: 5% 0;
  background-image: none !important;
  background-color: #ffffff;
}
.portfolio-page .section-description {
  padding-bottom: 30px;
}
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
.portfolioFilter {
  clear: both;
  margin:auto;
  padding: 0px 0px 15px 0px;
  text-align: center;
  width: auto;
}
.portfolioFilter a {
  background-color: #111111;
  color: #ffffff;
  display: inline-block;
  font-size: 1em;
  margin: 0 15px 10px 15px;
  padding: 10px 22px;
  text-decoration: none;
  text-transform: capitalize;
}
.portfolioFilter .current {
  background-color: #086094;
}
.portfolio-item figure {
  margin: 0px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.isotope-item img {
  max-width: 100%;
  max-height: 100%;
}
.portfolio-item figcaption {
 background-color: rgba(255, 255, 255, 0.7);
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
 text-align: center;

 -webkit-transition: all .5s ease;
 -moz-transition: all .5s ease;
 -ms-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;

 -webkit-transform: scale(0, 0);
 -moz-transform: scale(0, 0);
 -ms-transform: scale(0, 0);
 -o-transform: scale(0, 0);
 transform: scale(0, 0);
}
.portfolio-item figure img {
 -webkit-transition: all .5s ease;
 -moz-transition: all .5s ease;
 -ms-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
}
.portfolio-item figure:hover img {
 -webkit-transform: scale(1.1, 1.1);
 -moz-transform: scale(1.1, 1.1);
 -ms-transform: scale(1.1, 1.1);
 -o-transform: scale(1.1, 1.1);
 transform: scale(1.1, 1.1);
}
.portfolio-item figure:hover figcaption  {
 -webkit-transform: scale(1, 1);
 -moz-transform: scale(1, 1);
 -ms-transform: scale(1, 1);
 -o-transform: scale(1, 1);
 transform: scale(1, 1);
}
.portfolio-item .item-title {
  padding-top: 30px;
}
.item-image {
  position: absolute;
  top: 66%;
  margin-top: -15px;
  left: 46%;
  font-size: 20px;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: #000000;
}
.item-image:before {
  content: "\e610";
  font-family: 'themify';
  position: absolute;

  z-index: 1;
}




/*------------- Services Page ------------------*/
.service-page .section-1 .cd-half-block.left-side {
  background-color: #ffffff;
  background-image: none;
  padding: 5%;
}
.service-page .section-1 .cd-half-block {
  text-align: left;
}
.service-items {
  padding-top: 30px;
  vertical-align: text-top;
}
.success-count-container {
  position: relative;
  text-align: center;
  padding: 30px 0px;
}
.list-items {
  padding-top: 30px;
}
.success-count-container li {
  width: 30%;
}
.list-items li a {
  color: #000000;
}
.right-icon {
  display: inline-block;
  font-size: .9rem;
}
.list-items li p {
  display: inline-block;
  padding-left: 15px;
}
.success-counter span {
  display: block;
}
.success-counter .item-icon {
  font-size: 3em;
  padding-bottom: 18px;
}
.success-counter .count {
  color: #e74c3c;
  font-size: 3.75em;
  font-weight: 700;
}
.success-counter .item-name {
  font-size: 1.56em;
  margin-top: -4px;
}
.other-services {
  padding-top: 30px;
}




/* ======================= Tooltip =========================== */

  .tipper { height: 1px; left: -99999px; position: absolute; pointer-events: none; top: -99999px; width: 1px;z-index:100000; }
  .tipper .tipper-content { background: rgba(0, 0, 0, 0.85);box-shadow: 0 0 25px rgba(0,0,0,0.5);text-transform:uppercase; border-radius: 3px; color: #fff; display: block; float: left; font-family: 'Open Sans', sans-serif; font-size: 10px; margin: 0; padding: 6px 20px; position: relative; white-space: nowrap; }
  .tipper .tipper-caret { background: url('../../images/tipper-icon.png') no-repeat; display: block; height: 11px;  position: absolute; width: 100%; }

  .tipper.right .tipper-content { box-shadow: 1px 0 3px rgba(0, 0, 0, 0.25); }
  .tipper.right .tipper-caret { background-position: left center; left: -5px; top: 0; }

  .tipper.left .tipper-content { box-shadow: -1px 0 3px rgba(0, 0, 0, 0.25); }
  .tipper.left .tipper-caret { background-position: right center; right: -5px; top: 0; }

  .tipper.top .tipper-caret,
  .tipper.bottom .tipper-caret { display: block; float: none; height: 5px;  width: 12px;margin-left:-6px; }

  .tipper.top .tipper-content { box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25); }
  .tipper.top .tipper-caret { background-position: center bottom; bottom: -5px; left: 0; text-align:center;}

  .tipper.bottom .tipper-content { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }
  .tipper.bottom .tipper-caret { background-position: center top; top: -5px; left: 0; }


.btn{
  cursor: pointer;
  padding: 20px 35px;
  display: inline-block;
  margin-top: 30px;
  background: #414141;
  text-transform: uppercase;
  letter-spacing: normal;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 13px;
  line-height: 1em;
  outline: none;
  position: relative;
  border: none;
  overflow: hidden;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.btn:hover{
  background: #086094;
}
video#bgvid {
bottom: 0;
max-width: 100%; 
min-height: 100%;
width: 100% !important; height: auto; 
z-index: -10000;
background: url(../images/bg.jpg) no-repeat;
background-size: cover;
opacity: .3;
}
.adjust{padding:7%;background:#fff !important;}
.hd_ser{
    text-transform: capitalize;
    font-weight: 300;
  
    padding-left: 6px;
}
.items{font-size: .94em;
width: 49%;
display: inline-block;
margin-bottom: 30px;
padding-right: 15px;
vertical-align: text-top;}
.item-titles {
  color: #000000;
  display: inline-block;
  font-size: 1.125rem;
  font-family: 'Open Sans';
  font-size: 15px !important;
  position: relative;
  padding-bottom: 10px;
  width:100%;
  padding-left: 38px;
  transition:All .5s ease;
-webkit-transition:All .5s ease;
-moz-transition:All .5s ease;
-o-transition:All .5s ease;
transform:scale(1) ;
-webkit-transform: scale(1);
-moz-transform: scale(1) ;
-o-transform:scale(1);
-ms-transform:scale(1);
}
.item-titles span{left: 0px;top: -4px;float:left;position:absolute;font-size: 28px;color: #33ABDF;transition:All .5s ease;
-webkit-transition:All .5s ease;
-moz-transition:All .5s ease;
-o-transition:All .5s ease;
transform:scale(1) ;
-webkit-transform: scale(1);
-moz-transform: scale(1) ;
-o-transform:scale(1);
-ms-transform:scale(1);
}
.item-titles:hover >span{transform:scale(1.3);
-webkit-transform:scale(1.3);
-moz-transform: scale(1.3);
-o-transform:scale(1.3);
-ms-transform:scale(1.3);}