/**
* css for inventory
* @since 30-July-2015
*/
.navigation>ul>li:hover>a, .navigation>ul>li.active:hover>a, .navigation>ul>li.active>a
	{
	color: #fff !important;
	background-color: rgba(204, 120, 29, 0.73) !important;
}

.navigation>ul>li>a {
	color: rgba(204, 120, 29, 3) !important;
}

.crm_home {
	/* background: url("../../img/erp_bg.jpg") no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hdr {
	font-size: 39px;
	font-weight: 500;
	padding-top: 7px;
	background-color: rgba(204, 120, 29, 0.73);
	padding-bottom: 2px;
	padding-left: 10px;
	border-radius: 12px;
	color: #FFF;
}

.hdr-ico {
	padding-right: 5px;
	color: #FFFFFF;
	font-size: 30px;
}

.home {
	display: inline-block;
	color: #212E31;
	background-color: #fff;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.home:HOVER {
	color: #fff;
	background-color: #212E31;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.hdr-div {
	display: table-cell;
	padding: 8px 20px;
}

.home-div {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	display: table-cell;
	padding: 8px 20px;
}

.dashboard-itmes {
	background-color: rgba(197, 141, 80, 0.48);
	border-color: rgba(182, 172, 154, 0.05) !important;
}

.dashboard-title {
	color: #fff;
	font-size: 30px;
	padding-left: 5px;
	font-weight: lighter;
}

.dashboard-icons {
	float: right;
	font-size: 30px;
	color: rgba(123, 36, 36, 0.96);
}

.dashboard-label {
	text-align: center;
	color: #7F2C2D;
	font-size: 13px;
}

.erp-tbl th {
	background-color: rgba(197, 141, 80, 0.48);
	border: 1px solid rgb(255, 255, 255) !important;
	font-weight: 900 !important;
}

.erp-tbl {
	border: 1px solid rgb(255, 255, 255) !important;
}

.erp-tbl tr {
	border: 1px solid rgb(255, 255, 255) !important;
}

.erp-tbl td {
	border: 1px solid rgb(255, 255, 255) !important;
}

.panel-inf {
	background-color: rgba(197, 141, 80, 0.48) !important;
	border-color: rgba(197, 141, 80, 0.48) !important;
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
	-moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
	box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
}

.erp-panle {
	background-color: rgba(197, 141, 80, 0.17) !important;
}

.erp-btn {
	background-color: #C19D7A !important;
	border-color: rgb(193, 157, 122) !important;
}

.erp-info {
	    background-color: rgba(227, 200, 171, 0.6);
}
.back-btn{
	font-size: 20px;
	float: right;
}
/**
* notification
*/
#notify-all {
	display: none;
}

.notification-panl {
	z-index: 100000000;
	position: fixed;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	bottom: 24px;
	left: 24px;
	border-radius: 15px;
	min-width: 288px;
	max-width: 700px;
	min-height: 48px;
	padding: 14px 24px;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	opacity: 1;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
	transform: translate3d(0, 0, 0);
	transition-property: transform, opacity;
	transition: ease-in-out .3s;
}

.notfctn-cntnnt {
	font-weight: 600;
	margin-left: 4%;
	color: #0C1013;
	font-size: 16px;
}

#close-msg {
	margin-left: auto;
	padding-left: 48px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 20px;
	margin-bottom: 6%;
}

.successMsg {
	background-color: rgba(76, 95, 56, 0.71);
}

.er-msg {
	background-color: rgba(150, 48, 48, 0.89) !important;
}

#confirm-delete {
	display: none;
}

#load-erp {
	bottom: 0;
	background-color: rgba(298, 298, 298, 0.3);
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	display: none;
}

#load_spiner-erp {
	
}

#spinneeer-erp {
	height: 100%;
	width: 100%;
	background: url("../../img/ajax-loader.gif") no-repeat center center fixed;
	bottom: 46%;
	z-index: 1017;
	position: fixed;
	top: 41%;
	padding-bottom: 21%;
}

.loading-text-erp {
	font-size: 148%;
	float: left;
	color: #fff;
	padding-top: 11%;
	padding-left: 14%;
}

.spinr-erp {
	font-size: 450% !important;
	color: #FFF;
	padding-left: 21%;
}
#lead_cntct_tbl{
    padding: 1% 1% 1% 1%;
    background-color: rgba(212, 118, 31, 0.34);
	
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: rgba(212, 118, 31, 0.34);
  border-color: rgba(212, 118, 31, 0.34);
}