/**
* css for inventory
* @since 30-July-2015
*/
.navigation>ul>li:hover>a, .navigation>ul>li.active:hover>a, .navigation>ul>li.active>a
	{
	color: #fff !important;
	background-color: rgba(94, 168, 171, 1) !important;
}

.navigation>ul>li>a {
	color: rgba(94, 168, 171, 1) !important;
}



.inventory_home {
	/* background: url("../../img/erp_bg.jpg") no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hdr {
	font-size: 39px;
	font-weight: 500;
	padding-top: 7px;
	background-color: rgba(94, 168, 171, 0.51);
	padding-bottom: 2px;
	padding-left: 10px;
	border-radius: 12px;
	color: #FFF;
}

.hdr-ico {
	padding-right: 5px;
	color: #FFFFFF;
	font-size: 30px;
}

.home {
	display: inline-block;
	color: #212E31;
	background-color: #fff;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.home:HOVER {
	color: #fff;
	background-color: #212E31;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.hdr-div {
	display: table-cell;
	padding: 8px 20px;
}

.home-div {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	display: table-cell;
	padding: 8px 20px;
}

.dashboard-itmes {
	background-color: rgba(144, 188, 198, 0.41);
	border-color: rgba(163, 199, 216, 0.01) !important;
}

.dashboard-title {
	color: #fff;
	font-size: 30px;
	padding-left: 5px;
	font-weight: lighter;
}

.dashboard-icons {
	float: right;
	font-size: 30px;
	color: rgba(123, 36, 36, 0.96);
}

.dashboard-label {
	text-align: center;
	color: #7F2C2D;
	font-size: 13px;
}

.flip-ico {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.settings {
	color: black !important;
	float: right;
	font-size: 49px;
	padding-bottom: 5%;
	padding-right: 7%;
}

.settings:HOVER {
	font-size: 60px;
}

.back-btn {
	font-size: 20px;
	float: right;
}

.erp-panle {
	background-color: rgba(255, 255, 255, 0.21) !important;
}

.panel-inf {
	background-color: rgb(94, 168, 171) !important;
	border-color: rgba(198, 218, 177, 0.98) !important;
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
	-moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
	box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
}

.erp-tbl th {
	background-color:  rgb(94, 168, 171);
	border: 1px solid #5EA8AB !important;
}

.stck-tbl th{
	background-color: rgba(94, 168, 171, 0.35) !important;
}

.erp-tbl {
	border: 1px solid #5EA8AB !important;
}

.erp-tbl tr {
	border: 1px solid #5EA8AB !important;
}

.erp-tbl td {
	border: 1px solid #5EA8AB !important;
}

.erp-btn {
	background-color: #5EA8AB !important;
	border-color: #5EA8AB !important;
}

.erp-info {
	background-color: rgba(94, 168, 171, 0.4);
}
.successMsg {
	    background-color: rgb(76, 95, 56);
}
.notification-panl {
	z-index: 100000000;
	position: fixed;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	bottom: 24px;
	left: 24px;
	border-radius: 15px;
	min-width: 288px;
	max-width: 700px;
	min-height: 48px;
	padding: 14px 24px;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	opacity: 1;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
	transform: translate3d(0, 0, 0);
	transition-property: transform, opacity;
	transition: ease-in-out .3s;
}

.notfctn-cntnnt {
	display: table-cell;
	font-weight: 600;
	margin-left: 4%;
	color: #0C1013;
	font-size: 16px;
}
#close-msg {
	display: table-cell;
	margin-left: auto;
	padding-left: 48px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 20px;
	margin-bottom: 6%;
}
#load-erp {
	bottom: 0;
	background-color: rgba(298, 298, 298, 0.3);
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	display: none;
}

#load_spiner-erp {
	
}

.fa{
	cursor: pointer !important;
}

#spinneeer-erp {
	height: 100%;
	width: 100%;
	background: url("../../img/ajax-loader.gif") no-repeat center center
		fixed;
	bottom: 46%;
	z-index: 1017;
	position: fixed;
	top: 41%;
	padding-bottom: 21%;
}
.bg-inventory{
	background-color: #5EA8AB !important;
}
.right {
	float: right;
}
.myText {
	border: none;
	background-color: #FAFAFA;
	border-bottom: 2px inset;
}

.prodModal {
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.tbl_scrl_bdy{
	overflow-x: scroll !important;
}
.pdtRow:HOVER {
	background-color: gray;
	color: white;
}

.prodModal-dialogue {
	width: 35% !important;
	margin-left: 15% !important;
	margin-top: 5% !important;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #5EA8AB;
	border-color:#5EA8AB;
}


#newPop{
	bottom: 0;
	z-index: 99;
	left: 0;
	top: 0;
	right: 0;
}

a:hover {
	cursor: pointer;
}

.back{
	font-size: 20px;
}

.td_txt{
	background: white;
    border: none;
    color: black;
}