/**
* css for inventory
* @since 30-July-2015
*/
.navigation>ul>li:hover>a, .navigation>ul>li.active:hover>a, .navigation>ul>li.active>a
	{
	color: #fff !important;
	background-color: #0380b0 !important;
}

.navigation>ul>li>a {
	color: #0380b0 !important;
}

.hrms_home {
	/* background: url("../../img/erp_bg.jpg") no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hdr {
	font-size: 39px;
	font-weight: 500;
	padding-top: 7px;
	background-color: #0380b0;
	padding-bottom: 2px;
	padding-left: 10px;
	border-radius: 12px;
	color: #FFF;
}

.hdr-ico {
	padding-right: 5px;
	color: #FFFFFF;
	font-size: 30px;
}

.home {
	display: inline-block;
	color: black !important;
	background-color: #fff;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.home:HOVER {
	color: #fff !important;
	background-color: black;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.hdr-div {
	display: table-cell;
	padding: 8px 20px;
}

.home-div {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	display: table-cell;
	padding: 8px 20px;
}

.dashboard-itmes {
	background-color: rgba(3, 128, 176, 0.42);
	border-color: rgba(119, 175, 201, 0) !important;
}

.dashboard-title {
	color: #fff;
	font-size: 30px;
	padding-left: 5px;
	font-weight: lighter;
}

.dashboard-icons {
	float: right;
	font-size: 32px;
	color: rgba(4, 77, 105);
}

.dashboard-label {
	text-align: center;
	color: #7F2C2D;
	font-size: 13px;
}

.dshbrd-inf {
	background-color: rgba(3, 128, 176, 0.4) !important;
	border-color: rgba(3, 128, 176, 0.4) !important;
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.11)!important;
-moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.11)!important;
box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.11)!important;
}