@charset "utf-8";
/* CSS Document */
.breakingNews {
	width: 100%;
	height: 40px !important;
	background: #FFF;
	position: relative;
	border: solid 1px #2096cd !important;
	overflow: hidden;
	margin-bottom: 25px;
}

.breakingNews>.bn-title {
	width: auto;
	height: 40px;
	display: inline-block;
	background: #2096cd;
	position: relative;
}

.breakingNews>.bn-title>h2 {
	display: inline-block;
	margin: 0;
	padding: 0 20px;
	line-height: 40px;
	font-size: 20px;
	color: #FFF;
	height: 40px;
	box-sizing: border-box;
}

.breakingNews>.bn-title>span {
	width: 0;
	position: absolute;
	right: -10px;
	top: 10px;
	height: 0;
	border-style: solid;
	border-width: 9px 0 9px 13px;
	border-color: transparent transparent transparent #2096cd;
}

.breakingNews>ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	left: 210px;
	top: 0;
	right: 40px;
	height: 40px;
	font-size: 16px;
}

.breakingNews>ul>li {
	position: absolute;
	height: 40px;
	width: 100%;
	line-height: 40px;
	display: none;
}

.mrq{
	left: 5px !important;
	position: absolute;
	height: 40px;
	width: 100%;
	line-height: 40px;
	text-decoration: none;
	color: #333;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: normal;
	font-size: 16px;
}


.breakingNews>ul>li>a {
	text-decoration: none;
	color: #333;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: normal;
	font-size: 16px;
}

.breakingNews>ul>li>a>span {
	color: #2096cd;
}

.breakingNews>ul>li>a:hover {
	color: #2096cd;
}

.breakingNews>.bn-navi {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
}

.breakingNews>.bn-navi>span {
	width: 20px;
	height: 40px;
	position: absolute;
	top: 0;
	cursor: pointer;
	opacity: 0.3;
	background-image: url(../img/bn-arrows.png);
	background-repeat: no-repeat;
}

.breakingNews>.bn-navi>span:hover {
	opacity: 1;
}

.breakingNews>.bn-navi>span:first-child {
	background-position: left center;
	left: 0;
}

.breakingNews>.bn-navi>span:last-child {
	background-position: right center;
	right: 0;
}

.breakingNews:hover .bn-navi {
	opacity: 1;
}

.bn-large {
	height: 50px;
}

.bn-large>.bn-title {
	height: 40px;
}

.bn-large>.bn-title>h2 {
	line-height: 38px;
	font-size: 20px;
}

.bn-large>.bn-title>span {
	top: 10px;
}

.bn-large>ul {
	height: 40px;
	left: 200px !important;
	font-size: 20px;
}

.bn-large>ul>li {
	height: 40px;
	line-height: 40px;
	padding-left: 5px;
	margin-left: 5px;
}

.bn-large>.bn-navi {
	height: 50px;
}

.bn-large>.bn-navi>span {
	height: 40px;
}

.bn-small {
	height: 30px;
}

.bn-small>.bn-title {
	height: 30px;
}

.bn-small>.bn-title>h2 {
	line-height: 30px;
	font-size: 18px;
}

.bn-small>.bn-title>span {
	top: 5px;
}

.bn-small>ul {
	height: 30px;
	left: 200px;
	font-size: 14px;
}

.bn-small>ul>li {
	height: 30px;
	line-height: 30px;
}

.bn-small>.bn-navi {
	height: 30px;
}

.bn-small>.bn-navi>span {
	height: 30px;
}

/*color styles -----------------------------*/
.bn-red {
	border-color: #f44a56;
}

.bn-red>.bn-title {
	background: #f44a56;
}

.bn-red>.bn-title>span {
	border-left-color: #f44a56;
}

.bn-red>ul>li>a:hover, .bn-red>ul>li>a>span {
	color: #f44a56;
}

.bn-green {
	border-color: #27ae60;
}

.bn-green>.bn-title {
	background: #27ae60;
}

.bn-green>.bn-title>span {
	border-left-color: #27ae60;
}

.bn-green>ul>li>a:hover, .bn-green>ul>li>a>span {
	color: #27ae60;
}

.bn-purple {
	border-color: #795aac;
}

.bn-purple>.bn-title {
	background: #795aac;
}

.bn-purple>.bn-title>span {
	border-left-color: #795aac;
}

.bn-purple>ul>li>a:hover, .bn-purple>ul>li>a>span {
	color: #795aac;
}

.bn-turquoise {
	border-color: #1fb5ad;
}

.bn-turquoise>.bn-title {
	background: #1fb5ad;
}

.bn-turquoise>.bn-title>span {
	border-left-color: #1fb5ad;
}

.bn-turquoise>ul>li>a:hover, .bn-turquoise>ul>li>a>span {
	color: #1fb5ad;
}

.bn-orange {
	border-color: #f46e27;
}

.bn-orange>.bn-title {
	background: #f46e27;
}

.bn-orange>.bn-title>span {
	border-left-color: #f46e27;
}

.bn-orange>ul>li>a:hover, .bn-orange>ul>li>a>span {
	color: #f46e27;
}

.bn-black {
	border-color: #333;
}

.bn-black>.bn-title {
	background: #333;
}

.bn-black>.bn-title>span {
	border-left-color: #333;
}

.bn-black>ul>li>a:hover, .bn-black>ul>li>a>span {
	color: #333;
}

.bn-yellow {
	border-color: #d3ac23;
}

.bn-yellow>.bn-title {
	background: #d3ac23;
}

.bn-yellow>.bn-title>span {
	border-left-color: #d3ac23;
}

.bn-yellow>ul>li>a:hover, .bn-yellow>ul>li>a>span {
	color: #d3ac23;
}

.bn-light {
	border-color: #DDD;
}

.bn-light>.bn-title {
	background: #DDD;
}

.bn-light>.bn-title>h2 {
	color: #333;
}

.bn-light>.bn-title>span {
	border-left-color: #DDD;
}

.bn-light>ul>li>a:hover, .bn-light>ul>li>a>span {
	color: #DDD;
}

.bn-pink {
	border-color: #d65aac;
}

.bn-pink>.bn-title {
	background: #0380B0;
}

.bn-pink>.bn-title>span {
	border-left-color: #0380B0;
}

.bn-pink>ul>li>a:hover, .bn-pink>ul>li>a>span {
	color: #0380B0;
}

.bn-darkred {
	border-color: #d01e1e;
}

.bn-darkred>.bn-title {
	background: #d01e1e;
}

.bn-darkred>.bn-title>span {
	border-left-color: #d01e1e;
}

.bn-darkred>ul>li>a:hover, .bn-darkred>ul>li>a>span {
	color: #d01e1e;
}

.bn-bordernone {
	border: none;
}

.bn-italic>ul>li>a {
	font-style: italic;
}

.bn-bold>ul>li>a {
	font-weight: bold;
}

.breakingNews>.bn-navi, .breakingNews>ul>li>a, .breakingNews>.bn-navi>span
	{
	transition: .25s linear;
	-moz-transition: .25s linear;
	-webkit-transition: .25s linear;
}

@media ( max-width : 528px) {
	
	.bn-large>ul {
	height: 40px;
	left: 30px !important;
	font-size: 20px;
}
}