/**
* css for inventory
* @since 30-July-2015
*/
.navigation>ul>li:hover>a, .navigation>ul>li.active:hover>a, .navigation>ul>li.active>a
	{
	color: #fff !important;
	background-color: #C584AB !important;
}

.navigation>ul>li>a {
	color: #C584AB !important;
}

.sales_home {
	/* background: url("../../img/erp_bg.jpg") no-repeat cen */ter center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hdr {
	font-size: 39px;
	font-weight: 500;
	padding-top: 7px;
	background-color: #C584AB;
	padding-bottom: 2px;
	padding-left: 10px;
	border-radius: 12px;
	color: #FFF;
}

.notification-panl {
	z-index: 100000000;
	position: fixed;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	bottom: 24px;
	left: 24px;
	border-radius: 15px;
	min-width: 288px;
	max-width: 700px;
	min-height: 48px;
	padding: 14px 24px;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	opacity: 1;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
	transform: translate3d(0, 0, 0);
	transition-property: transform, opacity;
	transition: ease-in-out .3s;
}

.notfctn-cntnnt {
	display: table-cell;
	font-weight: 600;
	margin-left: 4%;
	color: #0C1013;
	font-size: 16px;
}

.fa{
	cursor: pointer !important;
}

#close-msg {
	display: table-cell;
	margin-left: auto;
	padding-left: 48px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 20px;
	margin-bottom: 6%;
}

.successMsg {
	    background-color: rgb(76, 95, 56);
}

.hdr-ico {
	padding-right: 5px;
	color: #FFFFFF;
	font-size: 30px;
}

.home {
	display: inline-block;
	color: #212E31;
	background-color: #fff;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.home:HOVER {
	color: #fff;
	background-color: #212E31;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.hdr-div {
	display: table-cell;
	padding: 8px 20px;
}

.home-div {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	display: table-cell;
	padding: 8px 20px;
}

.dashboard-itmes {
	background-color: rgba(197, 132, 171, 0.36);
	border-color: rgba(179, 174, 202, 0.03) !important;
}

.dashboard-title {
	color: #fff;
	font-size: 30px;
	padding-left: 5px;
	font-weight: lighter;
}

.dashboard-icons {
	float: right;
	font-size: 30px;
	color: rgba(123, 36, 36, 0.96);
}

.dashboard-label {
	text-align: center;
	color: #7F2C2D;
	font-size: 13px;
}

.erp-tbl th {
	background-color: rgb(194, 162, 192);
	border: 1px solid rgb(255, 255, 255) !important;
}

.erp-tbl {
	border: 1px solid rgb(255, 255, 255) !important;
}

.erp-tbl tr{
	border: 1px solid rgb(255, 255, 255) !important;
}

.erp-tbl td{
	border: 1px solid rgb(255, 255, 255) !important;
}

.panel-inf {
	background-color: rgba(197, 132, 171, 0.49) !important;
	border-color: rgba(179, 174, 202, 1.9) !important;
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
	-moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
	box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
}
.erp-panle {
	background-color: rgba(179, 174, 202, 0.5) !important;
}
.erp-btn{
    background-color: rgb(158, 126, 155) !important;
    border-color: rgb(158, 126, 155)  !important;
}

.erp-info {
	        background-color: rgba(206, 172, 200, 0.33);
}
.back-btn{
	font-size: 20px;
	float: right;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color:rgba(206, 172, 200, 0.33);
  border-color:#fff;
}

.right {
	float: right;
}

.prodModal {
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.tbl_scrl_bdy{
	overflow-x: scroll !important;
}
.pdtRow:HOVER {
	background-color: #6a9e65;
	color: black;
}

.prodModal-dialogue {
	width: 35% !important;
	margin-left: 15% !important;
	margin-top: 5% !important;
}

.myText {
	border: none;
	background-color: #FAFAFA;
	border-bottom: 2px inset;
}
.bg-sales{
	background-color:  #C584AB !important;
}

.td_txt{
	background: white;
    border: none;
    color: black;
}